@font-face {
  font-family: "Ivy Presto";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(../fonts/IvyPrestoDisplayLight.woff2) format("woff2");
}

@font-face {
  font-family: "Ivy Presto";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(../fonts/IvyPrestoDisplaySemiBold.woff2) format("woff2");
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/inter-v7-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
/* inter-800 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/inter-v7-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/inter-v7-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap;
}
