:root {
  --measure: 65ch;

  --font-family-display-heads: Ivy Presto, Georgia, Times, serif;
  --font-family-display: Inter, -apple-system, system-ui, sans-serif;

  --color-bg-value: 0, 0%, 100%;
  --color-bg-offset-value: 240, 14%, 97%;
  --color-text-value: 255, 27%, 30%;
  --color-text-offset-value: 160, 8%, 44%;
  --color-primary-value: 10, 65%, 53%;
  --color-primary-offset-value: 36, 66%, 69%;
  --color-border-value: 35, 64%, 87%;
  /* --color-secondary-value: 176, 43%, 34%; */
  /* --color-secondary-value: 210, 66%, 35%; */
  --color-secondary-value: 204, 86%, 88%;

  --color-bg: hsl(var(--color-bg-value));
  --color-bg-offset: hsl(var(--color-bg-offset-value));
  --color-text: hsl(var(--color-text-value));
  --color-text-offset: hsl(var(--color-text-offset-value));
  --color-primary: hsl(var(--color-primary-value));
  --color-primary-offset: hsl(var(--color-primary-offset-value));
  --color-border: hsl(var(--color-border-value));
  --color-secondary: hsl(var(--color-secondary-value));

  --ratio: 1.5;
  --s-5: clamp(0.33rem, 0.39rem + -0.29vw, 0.18rem);
  --s-4: clamp(0.41rem, 0.47rem + -0.31vw, 0.25rem);
  --s-3: clamp(0.51rem, 0.57rem + -0.31vw, 0.35rem);
  --s-2: clamp(0.64rem, 0.69rem + -0.27vw, 0.5rem);
  --s-1: clamp(0.8rem, 0.84rem + -0.18vw, 0.71rem);
  --s0: clamp(1rem, 1rem + 0vw, 1rem);
  --s1: clamp(1.25rem, 1.19rem + 0.32vw, 1.41rem);
  --s2: clamp(1.56rem, 1.39rem + 0.85vw, 2rem);
  --s3: clamp(1.95rem, 1.61rem + 1.7vw, 2.83rem);
  --s4: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --s5: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);

  --logo-max-width: 13rem;
  --nav-max-inline-size: 62%;
  --column-max-width: 50rem;

  --rs-fast-transition: all 0.3s ease-in;

  line-height: var(--ratio);
  font-size: calc(0.333vw + 1em);
}
