/* Home page CSS */

.rs-home .hero-container {
  position: relative;
}

.rs-home .hero-container #hero-data {
  margin: 0 auto -1rem auto;
  padding: 0 var(--s0) 0 var(--s0);
  font-size: var(--s-1);
  color: var(--color-text-offset);
}

.js .rs-home .hero-container #hero-data {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: var(--s0);
  width: calc(100% - 42px - var(--s0));
  background-color: white;
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

@media (prefers-reduced-motion) {
  .js .rs-home .hero-container #hero-data {
    transition: none;
  }
}

.js .rs-home .hero-container.show #hero-data {
  transform: translateX(0);
}

.rs-home .hero {
  position: relative;
  background-color: var(--color-primary);
  height: 50vw;
  max-height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
}

.rs-home .hero > button,
.rs-home .hero > button > svg {
  border: 0;
  padding: 0;
  border-radius: 50%;
}

.rs-home .hero > button {
  display: none;
  position: absolute;
  cursor: pointer;
  top: var(--s-3);
  right: var(--s-3);
  margin-top: 0;
  background-color: var(--color-secondary);
}

.rs-home .hero > button > svg {
  width: 42px;
  height: 42px;
  margin-top: calc((42px - 42px) / 2);
}

.js .rs-home .hero > button {
  display: block;
  z-index: 200;
  width: 42px;
  height: 42px;
}

.rs-home .hero > button > svg:nth-child(2) {
  display: none;
  margin: 0;
}

.rs-home .hero-container.show .hero > button > svg:nth-child(2) {
  display: inline-block;
}

.rs-home .hero-container.show .hero > button > svg:first-child {
  display: none;
}

/* Home page CSS END*/
