@charset "UTF-8";

@import "_variables.css";
@import "_fonts.css";
@import "_global.css";
@import "_header.css";
@import "_skip.css";

/* UTILITIES */

.rs-text-highlight-secondary {
  padding: var(--s0);
  font-size: var(--s1);
  background-color: var(--color-secondary);
  color: white;
}

.rs-text-highlight-secondary::selection {
  background: white;
  color: var(--color-secondary);
}

.rs-hero-statement {
  margin-top: -2rem;
}

.rs-column {
  position: relative;
  width: 100%;
  max-width: var(--column-max-width);
  margin: 0 auto;
  padding: var(--s0) var(--s0) 0 var(--s0);
}

.vh {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hide {
  display: none;
}
