@charset "UTF-8";

/* UTILITIES */

.rs-text-highlight-secondary {
  padding: var(--s0);
  font-size: var(--s1);
  background-color: var(--color-secondary);
  color: var(--color-text);
}

.rs-text-highlight-secondary::selection {
  background: var(--color-text);
  color: var(--color-secondary);
}

.rs-hero-statement {
  margin-top: -2rem;
}

.rs-column {
  position: relative;
  width: 100%;
  max-width: var(--column-max-width);
  margin: 0 auto;
  padding: var(--s0) var(--s0) 0 var(--s0);
}

.vh {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hide {
  display: none;
}

/* Style put here to avoid flash of animated content at start position */

.js .rs-home .hero-container #hero-data {
  position: absolute;
  top: 0;
  z-index: 100;
  padding: var(--s0);
  width: calc(100% - 42px - var(--s0));
  background-color: white;
  border-top: 0.5rem solid var(--color-secondary);
  transform: translateX(-100%);
  transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}
