@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {

    --ians-font-size--2: clamp(0.6944rem, 0.6918rem + 0.0131vi, 0.72rem);
    --ians-font-size--1: clamp(0.8333rem, 0.8265rem + 0.0342vi, 0.9rem);
    --ians-font-size-0: clamp(1rem, 0.9872rem + 0.0641vi, 1.125rem);
    --ians-font-size-1: clamp(1.2rem, 1.1788rem + 0.1058vi, 1.4063rem);
    --ians-font-size-2: clamp(1.44rem, 1.4074rem + 0.163vi, 1.7578rem);
    --ians-font-size-3: clamp(1.728rem, 1.6799rem + 0.2406vi, 2.1973rem);
    --ians-font-size-4: clamp(2.0736rem, 2.0046rem + 0.3451vi, 2.7466rem);
    --ians-font-size-5: clamp(2.4883rem, 2.3914rem + 0.4846vi, 3.4332rem);

    --ians-space-3xs: clamp(0.25rem, 0.2436rem + 0.0321vi, 0.3125rem);
    --ians-space-2xs: clamp(0.5rem, 0.4936rem + 0.0321vi, 0.5625rem);
    --ians-space-xs: clamp(0.75rem, 0.7372rem + 0.0641vi, 0.875rem);
    --ians-space-s: clamp(1rem, 0.9872rem + 0.0641vi, 1.125rem);
    --ians-space-m: clamp(1.5rem, 1.4808rem + 0.0962vi, 1.6875rem);
    --ians-space-l: clamp(2rem, 1.9744rem + 0.1282vi, 2.25rem);
    --ians-space-xl: clamp(3rem, 2.9615rem + 0.1923vi, 3.375rem);
    --ians-space-2xl: clamp(4rem, 3.9487rem + 0.2564vi, 4.5rem);
    --ians-space-3xl: clamp(6rem, 5.9231rem + 0.3846vi, 6.75rem);

    /* More exteme growth sets */
    --ians-space-3xs-2xs: clamp(0.25rem, 0.2179rem + 0.1603vi, 0.5625rem);
    --ians-space-2xs-xs: clamp(0.5rem, 0.4615rem + 0.1923vi, 0.875rem);
    --ians-space-xs-s: clamp(0.75rem, 0.7115rem + 0.1923vi, 1.125rem);
    --ians-space-s-m: clamp(1rem, 0.9295rem + 0.3526vi, 1.6875rem);
    --ians-space-m-l: clamp(1.5rem, 1.4231rem + 0.3846vi, 2.25rem);
    --ians-space-l-xl: clamp(2rem, 1.859rem + 0.7051vi, 3.375rem);
    --ians-space-xl-2xl: clamp(3rem, 2.8462rem + 0.7692vi, 4.5rem);
    --ians-space-2xl-3xl: clamp(4rem, 3.7179rem + 1.4103vi, 6.75rem);

    --ians-colour-very-dark-grey: #333;
    --ians-colour-dark-grey: #666;
    --ians-colour-mid-grey: #999;
    --ians-colour-grey: #ddd;
    --ians-colour-light-grey: whitesmoke;
    --ians-colour-gold: gold;
    --ians-colour-orange: #FF9933;
    --ians-colour-red: #CC0033;
    --ians-colour-pink: hotpink;
    --ians-colour-purple: purple;
    --ians-colour-green: mediumseagreen;
    --ians-colour-blue: #2990ea;
    --ians-colour-dark-blue: #003366;

    --ians-colour-blue-rgb: 41, 144, 234;
    --ians-colour-dark-blue-rgb: 0, 51, 102;
    --ians-colour-light-grey-rgb: 239, 239, 239;

    --ians-font-family: Roboto,
        Inter,
        "Helvetica Neue",
        "Arial Nova",
        "Nimbus Sans",
        Arial,
        sans-serif;

    --ians-footer-height: 7rem;
    --ians-lms-banner-height: 54px;
    --ians-column-max-width: 75ch;
}

/*
 ######   #######  ########  ########
##    ## ##     ## ##     ## ##
##       ##     ## ##     ## ##
##       ##     ## ########  ######
##       ##     ## ##   ##   ##
##    ## ##     ## ##    ##  ##
 ######   #######  ##     ## ########
*/

html,
body {
    font-family: var(--ians-font-family);
    background-color: white;
    color: var(--ians-colour-dark-blue);
    line-height: 1.7;
    font-weight: 300;
    font-size: var(--ians-font-size-0);
    padding: 0;
    margin: 0;
}

div.ians-wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*
##     ## ######## #### ##        ######
##     ##    ##     ##  ##       ##    ##
##     ##    ##     ##  ##       ##
##     ##    ##     ##  ##        ######
##     ##    ##     ##  ##             ##
##     ##    ##     ##  ##       ##    ##
 #######     ##    #### ########  ######
*/

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

svg:not([width]):not([height]) {
    height: 1lh;
    width: 1lh;
}

.ians-vis-hide:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ians-responsive-video-16-9 {
    width: 100%;
    aspect-ratio: 16/9;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-block-start: 0 !important;
}

.mb-0 {
    margin-block-end: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-block-start: 0 !important;
}

.pb-0 {
    padding-block-end: 0 !important;
}

.mt-1 {
    margin-block-start: var(--ians-space-l) !important;
}

.mt-2 {
    margin-block-start: var(--ians-space-xl) !important;
}

.mt-3 {
    margin-block-start: var(--ians-space-2xl) !important;
}

.mt-4 {
    margin-block-start: var(--ians-space-3xl) !important;
}

.mb-1 {
    margin-block-end: var(--ians-space-l) !important;
}

.mb-2 {
    margin-block-end: var(--ians-space-3xl) !important;
}

.pt-1 {
    padding-block-start: var(--ians-space-l) !important;
}

.pt-2 {
    padding-block-start: var(--ians-space-3xl) !important;
}

.pb-1 {
    padding-block-end: var(--ians-space-l) !important;
}

.pb-2 {
    padding-block-end: var(--ians-space-3xl) !important;
}

.pl-1 {
    padding-inline-start: var(--ians-space-l) !important;
}

.pr-1 {
    padding-inline-end: var(--ians-space-l) !important;
}

.pl-0-25 {
    padding-inline-start: var(--ians-space-xs) !important;
}

.pr-0-25 {
    padding-inline-end: var(--ians-space-xs) !important;
}

.p-1 {
    padding: var(--ians-space-l) !important;
}

.p-0-25 {
    padding: var(--ians-space-xs) !important;
}

.p-0-5 {
    padding: var(--ians-space-s) !important;
}

.p-0-75 {
    padding: var(--ians-space-m) !important;
}

/* 

..######...#######..########..########
.##....##.##.....##.##.....##.##......
.##.......##.....##.##.....##.##......
.##.......##.....##.########..######..
.##.......##.....##.##...##...##......
.##....##.##.....##.##....##..##......
..######...#######..##.....##.########

*/

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: var(--ians-colour-grey-dark);
    line-height: 1.7;
    font-family: roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    font-weight: 300;
    font-size: var(--ians-font-size-0);
}

header {
    width: 100%;
    padding: var(--ians-space-s) var(--ians-space-xs);
}

.ians-breadcrumb {
    margin-block-start: 0;
    margin-block-end: var(--ians-space-l);
    color: var(--ians-colour-blue);
    text-transform: uppercase;
    text-align: right;
    font-size: small;
    align-self: start;
    /* Unlike other paragraphs, we want this to align fully right. */
    max-width: 100%;
}

.ians-breadcrumb::before {
    content: ":: ";
    font-weight: bold;
    width: 3px;
    display: inline-block;
    height: inherit;
    display: inline-block;
    margin-right: 0.75rem;
}

main {
    width: 100%;
}

.ians-text-instruction {
    color: hotpink;
    font-weight: bold;
}

.ians-text-instruction::before {
    content: "\2192";
    display: inline-block;
    margin-right: 0.5rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--ians-colour-blue);
    margin-block-start: var(--ians-space-m);
    margin-block-end: var(--ians-space-s);
    font-weight: 300;
}

h1 {
    color: var(--ians-colour-dark-blue);
    font-size: var(--ians-font-size-5);
    line-height: 1em;
    margin-block-start: 0;
    margin-block-end: var(--ians-space-xl-2xl);
}

h2 {
    color: var(--ians-colour-blue);
    font-size: var(--ians-font-size-3);
    font-weight: 400;
    margin-block-start: var(--ians-space-s);
}

h3 {
    color: var(--ians-colour-dark-blue);
    font-size: var(--ians-font-size-3);
    font-weight: 700;
    margin-block-start: var(--ians-space-s);
    margin-block-end: var(--size-75);
}

h4 {
    font-size: var(--ians-font-size-2);
}

img {
    width: 100%;
    height: auto;
}

iframe {
    display: block;
}

p,
li {
    max-width: var(--ians-column-max-width);
}

p,
blockquote {
    margin-block-start: var(--ians-space-s);
    margin-block-end: var(--ians-space-xs);
}

h1+p,
h2+p,
h3+p,
h4+p {
    margin-block-start: 0;
}

a {
    color: var(--ians-colour-blue);
    text-decoration: underline;
    text-decoration-color: var(--ians-colour-blue);
    background-color: transparent;
    transition: all 0.3s;
}

a:hover {
    color: white;
    text-decoration-color: white;
    background-color: var(--ians-colour-blue);
}

button {
    cursor: pointer;
    background-color: white;
    padding: var(--ians-space-xs) var(--ians-space-s);
    color: var(--ians-colour-blue);
    border: 1px solid var(--ians-colour-blue);
    border-radius: 3px;
    transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--ians-colour-blue);
    color: white;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--ians-colour-blue);
}

:focus {
    outline: 2px dashed;
    outline-offset: 0.25rem;
}

main:focus {
    outline: none;
}

/* Remove all mouse-triggered focus styles without breaking keyboard accessibility */
*:focus:not(:focus-visible) {
    outline: none !important;
}

strong {
    font-weight: 700;
}

figcaption {
    font-size: var(--ians-font-size-1);
    font-style: italic;
    margin-block-start: 1rem;
}

blockquote {
    padding-inline-start: var(--ians-space-m);
    border-left: 5px solid;
    font-style: italic;
}

::selection {
    color: #fff;
    background: var(--ians-colour-dark-blue);
}

.ians-bg-dark-blue *::selection {
    color: var(--ians-colour-dark-blue);
    background: white;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: var(--ians-footer-height);
    margin-block-start: 3rem;
    color: white;
    background-color: #0f1120;
}

/* 

..######...#######..##........#######..########.
.##....##.##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.##.....##
.##.......##.....##.##.......##.....##.########.
.##.......##.....##.##.......##.....##.##...##..
.##....##.##.....##.##.......##.....##.##....##.
..######...#######..########..#######..##.....##

 */

/* TEXT */

.ians-text-white {
    color: white;
}

.ians-text-light-blue {
    color: var(--ians-colour-blue);
}

.ians-text-dark-blue {
    color: var(--ians-colour-dark-blue);
}

.ians-text-light-grey {
    color: var(--ians-colour-light-grey);
}

.ians-text-pop {
    text-shadow: 1px 1px black;
}

/* BG */

.ians-bg-light-blue {
    background-color: var(--ians-colour-blue);
}

.ians-bg-dark-blue {
    background-color: var(--ians-colour-dark-blue);
}

.ians-bg-light-grey {
    background-color: var(--ians-colour-light-grey);
}

.ians-bg-light-blue-glass {
    background-color: rgba(var(--ians-colour-blue-rgb), 0.6);
    backdrop-filter: blur(10px);
}

.ians-bg-dark-blue-glass {
    background-color: rgba(var(--ians-colour-dark-blue-rgb), 0.6);
    backdrop-filter: blur(10px);
}

/* 

.##..........###....##....##..#######..##.....##.########...
.##.........##.##....##..##..##.....##.##.....##....##......
.##........##...##....####...##.....##.##.....##....##......
.##.......##.....##....##....##.....##.##.....##....##......
.##.......#########....##....##.....##.##.....##....##......
.##.......##.....##....##....##.....##.##.....##....##......
.########.##.....##....##.....#######...#######.....##......

 */

.ians-column,
.ians-column-wide-1,
.ians-column-wide-2,
.ians-column-wide-3,
.ians-column-wide-4 {
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--ians-space-xs);
}

.ians-column {
    max-width: var(--ians-column-max-width);
}

.ians-column-wide-1 {
    max-width: calc(var(--ians-column-max-width) + 4rem);
}

.ians-column-wide-2 {
    max-width: calc(var(--ians-column-max-width) + 12rem);
}

.ians-column-wide-3 {
    max-width: calc(var(--ians-column-max-width) + 20rem);
}

.ians-column-wide-4 {
    max-width: calc(var(--ians-column-max-width) + 28rem);
}

/*
######## ########    ###    ######## ##     ## ########  ########
##       ##         ## ##      ##    ##     ## ##     ## ##
##       ##        ##   ##     ##    ##     ## ##     ## ##
######   ######   ##     ##    ##    ##     ## ########  ######
##       ##       #########    ##    ##     ## ##   ##   ##
##       ##       ##     ##    ##    ##     ## ##    ##  ##
##       ######## ##     ##    ##     #######  ##     ## ########
*/

.ians-welcome-page-title {
    min-height: 65vh;
    background-color: #036;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    padding: 0 0.5rem;
    display: flex;
}

.ians-welcome-page-title>div {
    align-self: center;
    width: 100%;
}

.ians-welcome-page-title h1 {
    color: white;
    max-width: 26ch;
}

.ians-welcome-page-title>div p {
    max-width: 50ch;
    margin-block-start: 0;
}

div[class^="ians-video"] {
    position: relative;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
}

div[class^="ians-video"] iframe,
div[class^="ians-video"] object,
div[class^="ians-video"] embed {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ians-video-16-9 {
    padding-block-end: 56.25%;
}

.ians-lms-banner {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--ians-colour-blue);
    height: var(--ians-lms-banner-height);
    overflow: hidden;
    z-index: 1000;
}

.ians-lms-banner a {
    display: block;
    line-height: var(--ians-lms-banner-height);
    height: var(--ians-lms-banner-height);
    color: white;
    font-weight: bold;
    padding-inline-start: 2rem;
}

.ians-grid-no-col-gap {
    grid-column-gap: 0 !important;
}

.ians-grid-no-row-gap {
    grid-row-gap: 0 !important;
}

/*  

.########..........##.....##.########.
.##.....##.........###...###.##.....##
.##.....##.........####.####.##.....##
.########..#######.##.###.##.##.....##
.##.....##.........##.....##.##.....##
.##.....##.........##.....##.##.....##
.########..........##.....##.########.

*/

@media screen and (min-width: 720px) {
    /* ..######...########..####.########.
	/* .##....##..##.....##..##..##.....##
	/* .##........##.....##..##..##.....##
	/* .##...####.########...##..##.....##
	/* .##....##..##...##....##..##.....##
	/* .##....##..##....##...##..##.....##
	/* ..######...##.....##.####.########. */

    .ians-grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .ians-grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .ians-grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .ians-grid-5 {
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: 1fr;
    }

    .ians-grid-5>*:nth-child(-1n + 3) {
        grid-column: span 5;
    }

    .ians-grid-5>*:nth-last-child(2) {
        grid-row-start: 2;
        grid-column: 3 / span 5;
    }

    .ians-grid-5>*:nth-last-child(1) {
        grid-row-start: 2;
        grid-column: 8 / span 5;
    }

    /*
    ######## ########    ###    ######## ##     ## ########  ########
    ##       ##         ## ##      ##    ##     ## ##     ## ##
    ##       ##        ##   ##     ##    ##     ## ##     ## ##
    ######   ######   ##     ##    ##    ##     ## ########  ######
    ##       ##       #########    ##    ##     ## ##   ##   ##
    ##       ##       ##     ##    ##    ##     ## ##    ##  ##
    ##       ######## ##     ##    ##     #######  ##     ## ########
    */

    .ians-welcome-page-title {
        min-height: 45vh;
        padding: 0 1rem;
    }

    .ians-welcome-page-title h1 {
        margin: 0;
        padding: 0;
    }
}

/* 
.########..........##........######.....
.##.....##.........##.......##....##....
.##.....##.........##.......##..........
.########..#######.##.......##...####...
.##.....##.........##.......##....##....
.##.....##.........##.......##....##....
.########..........########..######.....

 */

@media screen and (min-width: 1024px) {
    /* ..######...#######..########..########
	/* .##....##.##.....##.##.....##.##......
	/* .##.......##.....##.##.....##.##......
	/* .##.......##.....##.########..######..
	/* .##.......##.....##.##...##...##......
	/* .##....##.##.....##.##....##..##......
	/* ..######...#######..##.....##.######## */

    h1 {
        margin-block-end: 4rem;
    }

    .ians-breadcrumb {
        padding-block-start: var(--ians-space-s-m);
    }

    /* ..######...########..####.########.
	/* .##....##..##.....##..##..##.....##
	/* .##........##.....##..##..##.....##
	/* .##...####.########...##..##.....##
	/* .##....##..##...##....##..##.....##
	/* .##....##..##....##...##..##.....##
	/* ..######...##.....##.####.########. */

    .ians-grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }

    .ians-grid-5>*:nth-child(-1n + 3) {
        grid-column: span 3;
    }

    .ians-grid-5>*:nth-last-child(2) {
        grid-row-start: auto;
        grid-column: span 3;
    }

    .ians-grid-5>*:nth-last-child(1) {
        grid-row-start: auto;
        grid-column: span 3;
    }

    /*
    ######## ########    ###    ######## ##     ## ########  ########
    ##       ##         ## ##      ##    ##     ## ##     ## ##
    ##       ##        ##   ##     ##    ##     ## ##     ## ##
    ######   ######   ##     ##    ##    ##     ## ########  ######
    ##       ##       #########    ##    ##     ## ##   ##   ##
    ##       ##       ##     ##    ##    ##     ## ##    ##  ##
    ##       ######## ##     ##    ##     #######  ##     ## ########
    */

    .ians-welcome-page-title>div p {
        max-width: 40ch;
    }
}

/*
 ######   #######  ##     ## ########   #######  ##    ## ######## ##    ## ########
##    ## ##     ## ###   ### ##     ## ##     ## ###   ## ##       ###   ##    ##
##       ##     ## #### #### ##     ## ##     ## ####  ## ##       ####  ##    ##
##       ##     ## ## ### ## ########  ##     ## ## ## ## ######   ## ## ##    ##
##       ##     ## ##     ## ##        ##     ## ##  #### ##       ##  ####    ##
##    ## ##     ## ##     ## ##        ##     ## ##   ### ##       ##   ###    ##
 ######   #######  ##     ## ##         #######  ##    ## ######## ##    ##    ##
*/

.ians-hero-image {
    max-width: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 50vmin;
}

.ians-hero-image-top {
    object-position: top;
}

.ians-card img {
    max-width: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 20vmin;
}

.ians-card-over {
    position: relative;
}

.ians-card-over img {
    max-width: none;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 30vmin;
}

.ians-card-over>div {
    position: absolute;
    bottom: 0;
    width: 100%;
}