---
  title: Rising Sky website version 2
  description: Planning document for another rebuild of my site
  published: 2023-11-20
  updated: 2023-11-22
  css: [css/styles.css]
  js: [js/main.js]
  tags: ['11ty', 'web development', 'rising sky']
---

<p>Updated: {{updated  | readableDate("dd LLLL yyyy") }}.</p>

<p>It's mid November 2023 and it's cold, crisp and sunny in <a href="#">Argyll today</a>. I'm lucky enough to
    have a few weeks
    off. I've tidied
    <a href="#">my office</a>, fed the fish and changed my <a href="#">computer setup</a>. Time to take time to
    learn new things. 
</p>

<h2>New website</h2>

<p>I've had a holding page for my business for three years now so it's time to put that site to proper use. I'll
    publish and own my own content (link)</p>

<p>I also want to finally create my businesses website to replace the current holding page [screenshot here] -
    [versions by sub domain - no index?] (now three years old). I have a vague idea what I want
    it to contain:</p>

<aside>You can view previous versions of this site here.</aside>

<p>These are the types of content I want to publish:</p>

<!-- DT list? -->

<ul>
  <li>Home page with latest content listed</li>
  <li>Long bits</li>
  <li>Short bits</li>
  <li>Photos</li>
  <li>Music</li>
  <li>Reading lists</li>
  <li>Footer content:
    <ul>
      <li>Following on Soc Media</li>
      <li>Bookmarks on Soc Media (open and read)</li>
      <li>Uses</li>
      <li>Cocktail list - uncivilised.</li>
      <!-- Espresso martini, French 75, Margarita, Martini, Dark & stormy, Old fashioned -->
    </ul>
  </li>
</ul>

<p>I want as simple and robust an editing and publishing worflow as possible. Don't like MD. Want to be able to
    edit on mobile. Rejecting CMS.</p>

<p>Website features (this list will grow)</p>

<ol>
  <li>11ty setup:
  <ol>
      <li>
        <s>for local CSS, IMG and JS with access to Node if needed</s>.
      <ul>
          <li>Having read more, will start off with no node modules then look at import maps.</li>
        </ul>
      </li>
      <li>
        <s>CSS will be vanilla</s>. </li>
      <li>
        <s>Navigation</s>
      </li>
      <li>
        <s>Drafts</s>
      </li>
      <li>
        <s>Img will use 11ty plugin</s>.</li>
      <li>
        <s>Reading list</s>
      </li>
      <li>
        <s>Sitemap</s>
      </li>
      <li>
        <s>Robots txt: Stop AI scraping</s>
      </li>
      <li>
        <s>RSS</s>
      </li>
      {# https://mikefallows.com/posts/adding-robots-txt-to-eleventy-site/ #}
      <li>
        <s>Header block</s>
      </li>
      <li>
        <s>taGS</s>
      </li>
      <li>
        <s>Add descriptions to all - maybe json for shorts</s>
      </li>
      <li>
        <s>Code syntax styling</s>
      </li>
      <li>Images page?</li>
      {# 
      Bandwidth would be an issue to show all images
      Show latest photo and previous 10?
      Reduce the quality of the original photo by setting max size?
      #}
      <li>Logo and Favicon</li>
      <li>Local fonts</li>
    </ol>
  </li>
  <li>Create some content first, home page, first 'long bit'</li>
  <li>Document Accessibility test with NVDA
<ol>
      <li>Research setting up my own accessibility audit.</li>
    </ol>
  </li>
  <li>Add CSS as learn and document</li>
  <li>Web mentions</li>
</ol>

{% highlight "js" %}
eleventyConfig.addFilter("filterTagList", function filterTagList(tags) {
  return (tags || []).filter(tag => ["all", "nav", "post", "posts"].indexOf(tag) === -1);
});
{% endhighlight %}

<!-- Could these sections be their own posts? Yes! -->

<!-- Living documents? Updated resources and summaries? Or separate posts? -->

{% image "./images/ben-me-beach.jpg", "rs-image", "Me up a mountain" %}

{# <img src="./images/patrick-grey-mountain.jpg" alt="Me up a mountain"> #}