---
title: Code projects
override:tags: []
override:layout: base
eleventyNavigation:
  key: <code>
  order: 2
---

<div class="rs-column-header-wide">
  <h1>
    <em>Code projects</em> page</h1>
</div>

<article class="rs-column flow">

  {% set postlist = collections.code %}

  {% include "post-list.njk" %}

</article>