:root {
    --rs-logo-colour: #39c;
}


body {
    font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
    font-weight: normal;
    font-size: 120%;
}

.is-active {
    font-weight: bold;
    color: blue;
}

img {
    width: 100%;
    max-width: 1596px;
    height: auto;
    margin: 0 auto;
}

svg:not([width]):not([height]) {
    height: 1.5ex;
    width: auto;
}

svg:not([width]):not([height]).rs-logo {
    color: var(--rs-logo-colour);
    height: auto;
    width: 100%;
    max-width: 300px;
}


.rs-logo {
    cursor: pointer;
}

.rs-logo svg {
    /* --rs-logo-color-stop-0: red; */
    /* fill: url(#rs-gradient-vertical); */
}

.rs-logo svg path[data-id="rs-cloud"] {
    animation: bob 10s infinite;
    animation-delay: 2s;
}

@keyframes bobFly {
    0% {
        transform: translateY(0);
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(-100px);
    }
}

.rs-logo:hover svg path[data-id="rs-cloud"] {
    animation: bobFly 1s alternate;
    animation-fill-mode: forwards;
}

@media (prefers-reduced-motion: reduce) {

    .rs-logo:hover svg path[data-id="rs-cloud"],
    .rs-logo svg path[data-id="rs-cloud"] {
        animation: none;
    }
}