---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
---

<p>Rising Sky Limited is a web development studio based in Scotland.</p>

<p>We specialise in e&#8209;learning content, web applications and motion graphic videos.</p>

<p>Patrick Grey is the lead developer and has been hacking away on the web since 2001. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ullam reiciendis consectetur minima. Beatae quam vitae animi accusantium dolorum illum distinctio, a recusandae eveniet quidem, ratione, sed minima reprehenderit! At.</p>

{% set maxPosts = collections.writing.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Article{% else %}{{ maxPosts }} Articles{% endif %}
</h1>

{% set postslist = collections.writing | head(-3) %}
{% set postslistCounter = collections.writing | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/writing/' | url }}">the archive</a>.</p>