---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 1
---
<div class="hero-container">
  <p id="hero-data" aria-hidden="true">A shipwreck on Machrihanish Beach, Argyll, Scotland.</p>
  <div class="hero" aria-labelledby="hero-data">
    {% image "./source/machrihanish-boat.jpg",
    "A shipwreck on Machrihanish Beach, Argyll, Scotland.", "hero", true %}

    <button aria-hidden="true">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="white" aria-hidden="true" focusable="false">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>

      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="var(--color-primary)">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
      </svg>

      <span class="vh">Toggle photo information</span>
    </button>
  </div>
</div>

<div class="rs-column">
  <p class="rs-text-highlight-secondary rs-hero-statement">Hello. Rising Sky Limited is a web studio based in Scotland.</p>

  <p>Get in touch</p>
  <p>Email</p>
  <p>Twitter</p>

  <p>We specialise in e&#8209;learning content, web applications and motion 
  graphic videos.</p>

  <p>Patrick Grey is the lead developer and has been hacking away on the web since 2001.</p>

  {% set maxPosts = collections.writing.length | min(3) %}
  <h1>Latest {% if maxPosts == 1 %}Article{% else %}{{ maxPosts }} Articles{% endif %}
  </h1>

  {% set postslist = collections.writing | head(-3) %}
  {% set postslistCounter = collections.writing | length %}
  {% include "postslist.njk" %}

  <p>More posts can be found in <a href="{{ '/writing/' | url }}">the archive</a>.</p>
</div>

<script defer src="scripts/home.js"></script>