.rst-grid-video {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 891px;
  margin: 0 auto;
  /* grid-template-rows: 1px 1fr; */
}

.rst-computer {
  grid-row: 1;
  grid-column: 1;
}

.rst-video-container {
  grid-row: 1;
  grid-column: 1;
  width: 71%;
  margin: 9.5% auto 0 auto;
}

@media only screen and (min-width: 380px) {
  .rst-video-container {
    margin-top: 11%;
  }
}

@media only screen and (min-width: 500px) {
  .rst-video-container {
    margin-top: 12%;
  }
}

@media only screen and (min-width: 550px) {
  .rst-video-container {
    margin-top: 12.5%;
  }
}

@media only screen and (min-width: 640px) {
  .rst-video-container {
    width: 75%;
    margin-top: 13.5%;
  }
}

.rs-star-bg {
  position: relative;
}

.rs-star-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.4rem;
  right: 0rem;
  background-image: url(../images/bullet-star.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 6rem;
  height: 3rem;
}

@media only screen and (min-width: 880px) {
  .rs-star-bg::before {
    right: -2rem;
  }
}

.rs-example-pages a[target="_blank"]::after {
  color: #d55239;
  content: url(../images/external-link.svg);
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}
