---
title: Projects
permalink: code/
override:tags: []
override:layout: base
eleventyNavigation:
  key: <code>
  order: 4
---

<p>Examples of my work.</p>

{% set postlist = collections.projects %}

{% include "post-list.njk" %}