@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik-ExtraBold.ttf);
}

/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {

    /* FONT SCALE */
    --font-size--2: clamp(0.7813rem, 0.6356rem + 0.7283vw, 1.2rem);
    --font-size--1: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
    --font-size-0: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --font-size-1: clamp(1.35rem, 1.0043rem + 1.7283vw, 2.3438rem);
    --font-size-2: clamp(1.62rem, 1.1643rem + 2.2783vw, 2.93rem);
    --font-size-3: clamp(1.9438rem, 1.3461rem + 2.988vw, 3.6619rem);
    --font-size-4: clamp(2.3325rem, 1.5516rem + 3.9043vw, 4.5775rem);
    --font-size-5: clamp(2.7994rem, 1.7829rem + 5.0826vw, 7.7219rem);

    /* SPACE SCALE */
    --space-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vw, 0.5rem);
    --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs: clamp(0.875rem, 0.6793rem + 0.9783vw, 1.4375rem);
    --space-s: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m: clamp(1.6875rem, 1.2962rem + 1.9565vw, 2.8125rem);
    --space-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl: clamp(3.375rem, 2.5924rem + 3.913vw, 5.625rem);
    --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    --space-3xl: clamp(6.75rem, 5.1848rem + 7.8261vw, 11.25rem);

    --rs-font-sans: Inter,
        Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;
    --rs-font-mono: ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;

    --rs-colour-grey: #666;
    --rs-colour-blue-dark: #1a3b59;
    --rs-colour-blue-light: #00ebeb;
    --rs-colour-yellow: gold;
    --rs-colour-green: #00cf56;
    --rs-colour-red: #ff6161;
    --rs-colour-pink: hotpink;

    --rs-highlight-current: var(--rs-colour-pink);

    --rs-transition-short: all 0.25s ease-in-out;

    --rs-width-max-column: 70ch;
    --rs-width-max-header: 140ch;

    --rs-width-max-logo: 280px;
}

/*
########     ###     ######  ########
##     ##   ## ##   ##    ## ##
##     ##  ##   ##  ##       ##
########  ##     ##  ######  ######
##     ## #########       ## ##
##     ## ##     ## ##    ## ##
########  ##     ##  ######  ########
*/

html,
body {
    margin: 0;
    padding: 0;
    scrollbar-width: auto;
}

body {
    /* font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif; */
    font-family: var(--rs-font-sans);
    font-weight: normal;
    font-size: var(--font-size-0);
    color: var(--rs-colour-blue-dark);
    background:
        linear-gradient(#c0d6fc 0%,
            #f4f7ff 30%,
            #ffc6d0 85%,
            #ffceaa 95%);
}

*::selection {
    color: var(--rs-colour-yellow);
    background-color: var(--rs-colour-blue-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--rs-font-sans);
    font-weight: 800;
    text-wrap: balance;
}

h1 {
    font-size: var(--font-size-5);
    text-align: center;
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-xl);
}

h1>em {
    --rs-h1-gradient-start: 26%;
    --rs-h1-gradient-end: 75%;
    background-image: linear-gradient(to bottom,
            transparent var(--rs-h1-gradient-start),
            var(--rs-highlight-current) var(--rs-h1-gradient-start),
            var(--rs-highlight-current) var(--rs-h1-gradient-end),
            transparent var(--rs-h1-gradient-end),
            transparent 100%);
    padding-right: 0.25rem;
    font-style: normal;
}

@media only screen and (min-width: 800px) {
    h1 {
        margin-block-start: var(--space-xl);
    }
}

h2 {
    font-size: var(--font-size-4);
}

h3 {
    font-size: var(--font-size-3);
}

h4 {
    font-size: var(--font-size-2);
}

a {
    text-underline-offset: 4px;
}

a[href^="#"] {
    text-decoration: underline dotted;
}

/*
.##.....##.########.####.##.......####.########.####.########..######.
.##.....##....##.....##..##........##.....##.....##..##.......##....##
.##.....##....##.....##..##........##.....##.....##..##.......##......
.##.....##....##.....##..##........##.....##.....##..######....######.
.##.....##....##.....##..##........##.....##.....##..##.............##
.##.....##....##.....##..##........##.....##.....##..##.......##....##
..#######.....##....####.########.####....##....####.########..######.
*/

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

/* Change this to line height? */
svg:not([width]):not([height]) {
    height: 1.5ex;
    width: auto;
}

svg:not([width]):not([height]).rs-logo {
    color: var(--rs-colour-logo);
    height: auto;
    width: 100%;
    max-width: var(--rs-width-max-logo);
}

.rs-relative {
    position: relative;
}

/*
 ######  ##    ## #### ########
##    ## ##   ##   ##  ##     ##
##       ##  ##    ##  ##     ##
 ######  #####     ##  ########
      ## ##  ##    ##  ##
##    ## ##   ##   ##  ##
 ######  ##    ## #### ##
*/

.rs-skip {
    text-align: center;
    background-color: white;
    display: grid;
    position: relative;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
}

.rs-skip:focus-within {
    grid-template-rows: 1fr;
}

.rs-skip>p {
    overflow: hidden;
    margin: 0;
}

.rs-skip>p>a {
    display: inline-block;
    padding-block: 1rem;
}

.rs-skip::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: calc(var(--space-2xs) * -1);
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
}

.rs-skip:focus-within::after {
    opacity: 1;
}

/*
##    ##    ###    ##     ##
###   ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##
##  #### #########  ##   ##
##   ### ##     ##   ## ##
##    ## ##     ##    ###
*/

nav>ul {
    font-family: var(--rs-font-mono);
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--space-xs);
    padding: 0;
    margin: 0;
}

nav>ul>li {
    display: block;
    height: fit-content;
}

nav>ul>li>a {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: var(--font-size-0);
    text-decoration: none;
    padding: var(--space-2xs) var(--space-s);
    padding-block-end: calc(var(--space-xs) - 5px);
    color: var(--rs-colour-blue-dark);
    background-color: rgba(255, 255, 255, 0.3);
    transition: var(--rs-transition-short);
    border-block-end-style: solid;
    border-block-end-width: var(--space-2xs);
}

html:has(nav>ul>li.is-active>a[href^="/article/"]) {
    --rs-highlight-current: var(--rs-colour-green);
}

html:has(nav>ul>li.is-active>a[href^="/small/"]) {
    --rs-highlight-current: var(--rs-colour-yellow);
}

html:has(nav>ul>li.is-active>a[href^="/code/"]) {
    --rs-highlight-current: var(--rs-colour-red);
}

html:has(nav>ul.rs-nav-sub>li.is-active>a[href^="/reading-list/"]),
html:has(nav>ul.rs-nav-sub>li.is-active>a[href^="/tags/"]) {
    --rs-highlight-current: var(--rs-colour-blue-light);
}

html,
body {
    scrollbar-color: var(--rs-colour-blue-dark) var(--rs-highlight-current);
}

nav>ul>li>a[href="/"] {
    border-block-end-color: var(--rs-colour-pink);
}

nav>ul>li>a[href^="/article/"] {
    border-block-end-color: var(--rs-colour-green);
}

nav>ul>li>a[href^="/small/"] {
    border-block-end-color: var(--rs-colour-yellow);
}

nav>ul>li>a[href^="/code/"] {
    border-block-end-color: var(--rs-colour-red);
}

nav>ul>li>a:hover {
    background-color: white;
}

nav>ul>li.is-active>a {
    background-color: white;
}

nav>ul>li.is-active>a::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 var(--space-2xs) var(--space-2xs) var(--space-2xs);
    border-color: transparent transparent var(--rs-highlight-current) transparent;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

nav>ul>li>p {
    position: absolute;
    bottom: calc((var(--font-size--1) + var(--space-2xs) * 2) * -1);
    left: 0;
    font-size: var(--font-size--1);
    color: var(--rs-colour-grey);
    opacity: 0;
    transition: var(--rs-transition-short);
}

nav>ul>li>a:hover+p {
    opacity: 1;
}

nav>ul.rs-nav-sub {
    --threshold: 45rem;
    gap: 0.5rem;
}

nav>ul.rs-nav-sub>li>a {
    width: 100%;
    text-align: center;
    border-block-end-color: var(--rs-colour-blue-light);
    color: var(--rs-colour-blue-light);
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 1;
    display: flex;
    justify-content: center;

    &:hover {
        color: var(--rs-colour-blue-dark);
        background-color: rgba(255, 255, 255, 1);
    }

    &>svg {
        display: inline-block;
        width: 1lh !important;
        height: 1lh !important;
        margin-inline-end: 0.35rem;
    }

    &::after {
        display: none;
    }
}

/*
##        #######   ######    #######
##       ##     ## ##    ##  ##     ##
##       ##     ## ##        ##     ##
##       ##     ## ##   #### ##     ##
##       ##     ## ##    ##  ##     ##
##       ##     ## ##    ##  ##     ##
########  #######   ######    #######
*/


.rs-logo {
    display: block;
    margin: 0 auto var(--space-s) auto;
}

.rs-logo>svg circle[data-id="rs-sun"] {
    transform: translate(0, 0);
    transition: var(--rs-transition-short);
    fill: var(--rs-highlight-current);
}

/* https: //stackoverflow.com/questions/26675099/on-hover-change-svg-from-colour-to-gradient-with-a-transition */
.rs-logo>svg stop,
.rs-logo:hover>svg g[data-id="rs-sun-cloud"] {
    transition: var(--rs-transition-short);
}

.rs-logo:hover>svg stop:first-child {
    stop-color: var(--rs-highlight-current);
}

.rs-logo:hover>svg circle[data-id="rs-sun"] {
    transform: translate(45px, -25px);
    transition: var(--rs-transition-short);
}

.rs-logo>svg g[data-id="rs-sun-cloud"] {
    transform: translateY(0);
    transition: var(--rs-transition-short);
}

.rs-logo:hover>svg g[data-id="rs-sun-cloud"] {
    transform: translateY(-10%);
    transition: var(--rs-transition-short);
}

@media (prefers-reduced-motion: reduce) {

    .rs-logo:hover>svg path[data-id="rs-cloud"],
    .rs-logo>svg path[data-id="rs-cloud"] {
        transform: translateX(0);
        animation: none;
    }
}

/*
##          ###    ##    ##  #######  ##     ## ########
##         ## ##    ##  ##  ##     ## ##     ##    ##
##        ##   ##    ####   ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
##       #########    ##    ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
######## ##     ##    ##     #######   #######     ##
*/

/* https: //every-layout.dev/layouts/sidebar/ */

.rs-switcher {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    --threshold: 30rem;
}

.rs-switcher>* {
    flex-grow: 1;
    flex-basis: calc((var(--threshold) - 100%) * 999);
}

header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: var(--rs-width-max-header);
    padding-inline: var(--space-s);
}

header nav {
    /* flex-basis: 20rem; */
    flex-grow: 1;
}

header>a {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: calc(var(--rs-width-max-logo) + var(--space-s));
}

@media only screen and (max-width: 400px) {
    header>a {
        min-inline-size: 100%;
    }
}


a[href="#bio"] {
    position: static;
}

a[href="#bio"]>span {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translateY(calc(-100% - 1px));
}

a[href="#bio"]>span>img {
    pointer-events: none;
    width: 100%;
    height: auto;
    max-width: 100px;
    transform: translate(0, 100%);
    transition: var(--rs-transition-short);
}

a[href="#bio"]:hover>span {
    visibility: visible;
}

a[href="#bio"]:hover>span>img {
    transform: translate(0, 15%);
}

@media only screen and (min-width: 1400px) {
    a[href="#bio"]>span {
        transform: translateX(calc(-100% - 5px));
    }

    a[href="#bio"]>span>img {
        max-width: 120px;
        transform: rotate(0) translate(100%, 30%);
    }

    a[href="#bio"]:hover>span>img {
        transform: rotate(-45deg) translate(30%, 10%);
    }
}

.rs-column-header-wide {
    margin: 0 auto;
    max-width: var(--rs-width-max-header);
    padding-inline: var(--space-s);
}

.rs-column {
    margin: 0 auto;
    max-width: var(--rs-width-max-column);
    padding-inline: var(--space-s);
}

.rs-column.rs-rainbow-top {
    padding-block-start: var(--space-m);
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

footer {
    background-color: var(--rs-colour-blue-dark);
    color: white;
    position: relative;
    margin-block-start: var(--space-xl);
    /* padding-block: var(--space-xl); */

    &>div {
        max-width: var(--rs-width-max-column);
        margin: 0 auto 0 auto;
        padding: var(--space-xl) var(--space-s);
    }

    &>svg[data-id="footer-cat"] {
        --rs-cat-height: var(--space-l);
        position: absolute;
        color: var(--rs-colour-blue-dark);
        right: var(--space-s);
        top: calc(0.5px + var(--rs-cat-height) * -1);
        height: var(--rs-cat-height) !important;
    }
}

.rs-tac {
    display: flex;
    flex-basis: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-block-start: var(--space-m);
    gap: 0 1rem;
}