{% set urlArray = page
                                .url
                                .split("/") %}

                                <p>{{urlArray[1]}}</p>

<footer id="footer">

  <div class="rs-say-hello-container">
    {% if (urlArray[1] == "contact") %}
      <p>Contact text here</p>
    {% else %}
      <p>Hide this on contact page? Need something to push sidebar out though</p>
      <a href="contact/">Say hello!</a>
      <code>patrick@risingsky.co.uk</code>
      <p>Let’s discuss your project. Even if I can't help directly, I'm always happy to give advice on the best place to look for help.</p>
    {% endif %}
  </div>
  <ul>
      <li>Company number: SC683321</li>
      <li>VAT number: 367 7641 55</li>
      <li>Registered address: Weem House, Manse Brae, Lochgilphead, Argyll, Scotland. PA31 8QZ</li>
      <li>Built with <a href="https://11ty.dev/" target="_blank">Eleventy v3.0.0</a></li>
      <li><a href="/licence/">MIT licence</a></li>
  </ul>

</footer>