{# {%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postlist.length) + 1 }} }{% endcss %} #}

{# Need an if none #}

<ol reversed class="rs-list rs-list-icon">
    {% for post in postlist | reverse %}
        <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
            <a href="{{ post.url }}" class="postlist-link">
                {% if postIcon %}
                    <span>{% include "../../website-source/shared/images/icons/icon-"+postIcon+".svg" %}</span>
                {% endif %}
                {% if post.data.title %}{{ post.data.title }}
                {% else %}
                    <code>{{ post.url }}</code>
                {% endif %}
                <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("dd LLLL yyyy") }}</time>
            </a>
        </li>
    {% endfor %}
</ol>