<div class="rs-project-card">
    <a href="{{project.url}}">
        <img src="{{project.url}}{{project.data.hero}}" alt="{{project.data.alt}}">
        <h3>{{project.data.title}}</h3>
        <p class="rs-project-card-description">{{project.data.description}}</p>
    </a>
</div>