---
title: Rising Sky
layout: base
cssFiles: ["/index.css", "/projects/css/projects.css"]
eleventyNavigation:
  key: <meta>
  order: 1
---

<div class="rs-column-wide">
  <h1>
    <em>Human&#8209;friendly</em> web things</h1>
  {# <p>Websites Web Apps E-learning</p>     #}
</div>

<article>

  <div class="rs-column flow">
    <p>Do you need a <strong>website</strong>, an <strong>e&#8209;learning course</strong> or a modernised <strong>user interface</strong> for your web app? Rising Sky can help. We also provide  <strong>advice</strong> on updating legacy websites, adopting new technology, and customising the <a href="https://www.im-c.com/learning-suite/" target="_blank">IMC Learning Management System</a>.</p>

    {# Note, introduce page of horrow on hover later #}

    <p>Navigating the Web can be a horrible experience at times. Rising Sky make <strong>human&#8209;friendly</strong>, <strong>effective</strong> and <strong>sustainable</strong> websites, which is why clients have been trusting us with their projects since 2001.</p>

    <p>
      <strong>Patrick Grey</strong> is our lead developer, please <a href="#contact">get in touch</a> with him to discuss your project.</p>
  </div>

  <div class="rs-column-wide">
    <div class="rs-panel rs-panel-projects">
      <h2>Featured projects</h2>
      <div class="rs-panel-projects-container">
        {% for project in collections.projects | reverse %}
          {% include "project-card.njk" %}
        {% endfor %}
      </div>
      <div class="rs-panel-icon">{% include "../website-source/shared/images/icons/icon-code.svg" %}</div>
    </div>
  </div>

  <div class="rs-column-wide rs-panels-container">

    <div class="rs-panel">
      <h2>Recent articles</h2>
      {% set postlist = collections.article %}
      {% set postIcon = "article" %}
      {% set postLimit = 10 %}
      {% include "post-list.njk" %}
      <div class="rs-panel-icon">{% include "../website-source/shared/images/icons/icon-article.svg" %}</div>
    </div>

    <div class="rs-panel">
      <h2>Recent notes</h2>
      {% set postlist = collections.small %}
      {% set postIcon = "note" %}
      {% set postLimit = 10 %}
      {% include "post-list.njk" %}
      <div class="rs-panel-icon">{% include "../website-source/shared/images/icons/icon-note.svg" %}</div>
    </div>

  </div>

</article>