.rs-panels-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-s);
    margin-block-end: var(--space-l);
}

.rs-panel {
    background-color: whitesmoke;
    padding: var(--space-s);
    width: 100%;
}

.rs-panel>h2 {
    margin-block-start: 0;
    text-align: center;
}

.rs-panel-projects {
    margin-block-start: var(--space-xl);
    margin-block-end: var(--space-s);

}

@media only screen and (min-width: 1400px) {
    .rs-panel {
        flex: 1 1 0px;
    }
}