<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">
        <meta name="theme-color" content="#ffffff">

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/main.css">

        {% for file in css %}
            <link rel="stylesheet" href="{{file}}">
        {% endfor %}

        {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
        {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
        <style>
            {% getBundle "css" %}

            .token.constant,
            .token.deleted,
            .token.property,
            .token.symbol,
            .token.tag {
                color: hotpink !important;
            }
        </style>

        {% for file in js %}
            <script defer src="{{file}}"></script>
        {% endfor %}

    </head>

    <body>

        <header>
            <a href="/" class="rs-logo">{% include "images/logo/rising-sky-logo.svg" %}</a>
            <nav>
                <ul>
                    {% set navPages = collections.all | eleventyNavigation %}
                    {% set navActiveClass = "is-active" %}
                    {%- for navItem in navPages %}

                        {% if (navItem.url == "/") %}
                            <li {% if navItem.url == page.url %}class="{{navActiveClass}}"{% endif %}>
                                <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                            </li>
                        {% elif navItem.url and page.url %}
                            <li{% if navItem.url in page.url %} class="{{navActiveClass}}"{% endif %}>
                                <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                            </li>
                        {% endif %}

                    {%- endfor %}
                    {# <li>
                        <a href="#">&lt;meta&gt;</a>
                    </li>
                    <li>
                        <a href="#">&lt;article&gt;</a>
                    </li>
                    <li>
                        <a href="#">&lt;small&gt;</a>
                    </li>
                    <li>
                        <a href="#">&lt;img/&gt;</a>
                    </li>
                    <li>
                        <a href="#">&lt;audio&gt;</a>
                    </li>
                    <li>
                        <a href="#">&lt;cite&gt;</a>
                    </li> #}
                </ul>
            </nav>
        </header>

        <main>

            {{ content | safe }}

        </main>

        <footer>
            <p>🎶 This is the end...🎶</p>
            <p>&copy; Rising Sky Ltd. 2024</p>

            <ul>
                {% for item in navigationFooter %}
                    <li>
                        <a href="{{ item.url }}">{{ item.label }}</a>
                    </li>
                {% endfor %}
            </ul>
        </footer>

    </body>

</html>