---
title: Articles
permalink: article/
override:tags: []
eleventyNavigation:
  key: <article>
  order: 2
---

<p>This is where I keep my longer posts.</p>

{% set postlist = collections.article %}
{% include "post-list.njk" %}