---
title: Articles
permalink: article/
eleventyNavigation:
  key: <article>
  order: 3
---

{# <div class="rs-column-header-wide">
  <h1>
    <em>Article</em> pages</h1>
</div>

<article class="rs-column flow">

  {% set postlist = collections.article %}
  {% include "post-list.njk" %}

</article> #}