---
title: Highlight the current top level navigation
published: 2023-11-21
tags: ["11ty", "navigation"]
draft: false
---

{% if draft %}
    <p>
        <strong>This is a draft!</strong>
    </p>
{% endif %}

<code>
    Code is here, need to escape it I guess: https://github.com/11ty/eleventy-navigation/issues/3
</code>