---
title: TIL about Git Fetch vs Pull commands
published: 2024-01-24
updated: 2024-01-24
tags: ["git"]
draft: true
---
<p>https://www.freecodecamp.org/news/git-fetch-vs-pull/</p>
<p>Fetch gets metadata about potenital changes without downloading the actual files (which may overwrite your current files)</p>
<p>Git pull downloads the files as well as getting changes.</p>
<p>I need to experiment to see the effect of fetching a change when I'm still working locally.</p>
<p>I've set Visual Studio to auto fetch periodically.</p>