---
title: Small
permalink: small/
override:tags: []
override:layout: base
eleventyNavigation:
  key: <small>
  order: 4
---

<div class="rs-column-header-wide">
  <h1>
    <em>Short</em> notes</h1>
</div>

<article class="rs-column flow">

  {% set postlist = collections.small %}
  {% set postIcon = "note" %}
  {% include "post-list.njk" %}

</article>