---
title: Small
permalink: small/
override:tags: []
override:layout: base
eleventyNavigation:
  key: <small>
  order: 3
---

<p>This is where I keep my shorter posts.</p>

{# Small could be fixed size panels on grid with overflow and read more then on click they
animate to the next page with transitions #}

{% set postlist = collections.small %}

{% include "post-list.njk" %}