---
title: Small
permalink: small/
override:tags: []
override:layout: base
eleventyNavigation:
  key: <small>
  order: 3
---

<p>This is where I keep my shorter posts.</p>

{% set postlist = collections.small %}
{{postlist.length}}
{% include "post-list.njk" %}