/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {

    /* FONT SCALE */
    --font-size--2: clamp(0.7813rem, 0.6356rem + 0.7283vw, 1.2rem);
    --font-size--1: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
    --font-size-0: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --font-size-1: clamp(1.35rem, 1.0043rem + 1.7283vw, 2.3438rem);
    --font-size-2: clamp(1.62rem, 1.1643rem + 2.2783vw, 2.93rem);
    --font-size-3: clamp(1.9438rem, 1.3461rem + 2.988vw, 3.6619rem);
    --font-size-4: clamp(2.3325rem, 1.5516rem + 3.9043vw, 4.5775rem);
    --font-size-5: clamp(2.7994rem, 1.7829rem + 5.0826vw, 7.7219rem);

    /* SPACE SCALE */
    --space-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vw, 0.5rem);
    --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs: clamp(0.875rem, 0.6793rem + 0.9783vw, 1.4375rem);
    --space-s: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m: clamp(1.6875rem, 1.2962rem + 1.9565vw, 2.8125rem);
    --space-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl: clamp(3.375rem, 2.5924rem + 3.913vw, 5.625rem);
    --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    --space-3xl: clamp(6.75rem, 5.1848rem + 7.8261vw, 11.25rem);

    --rs-font-sans: Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;
    --rs-font-mono: ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;

    --rs-colour-ec-light-blue: #2990ea;
    --rs-colour-ec-dark-blue: #003366;

    --rs-colour-page-bg: white;
    --rs-colour-logo-stroke: var(--rs-colour-ec-dark-blue);
    --rs-colour-logo-fill: #a6d1ff;

    --rs-colour-nav-link-bg: rgba(255, 255, 255, 0.4);
    --rs-colour-nav-link-active-bg: white;
    --rs-colour-nav-link-hover: var(--rs-colour-ec-dark-blue);
    --rs-colour-nav-link-bg-hover: white;

    --rs-colour-link: var(--rs-colour-ec-light-blue);
    --rs-colour-link-visited: purple;

    --rs-colour-footer-bg: var(--rs-colour-ec-dark-blue);

    --rs-colour-pink-values: 330 100% 71%;
    --rs-colour-red-values: 0 100% 69%;
    --rs-colour-green-values: 145 100% 41%;
    --rs-colour-yellow-values: 51 100% 50%;
    --rs-colour-light-blue-values: 180 100% 46%;

    --rs-colour-pink: hsl(var(--rs-colour-pink-values));
    --rs-colour-red: hsl(var(--rs-colour-red-values));
    --rs-colour-yellow: hsl(var(--rs-colour-yellow-values));
    --rs-colour-green: hsl(var(--rs-colour-green-values));
    --rs-colour-light-blue: hsl(var(--rs-colour-light-blue-values));

    --rs-highlight-current-values: var(--rs-colour-pink-values);
    --rs-highlight-current: hsl(var(--rs-colour-pink-values) / 0.4);

    --rs-transition-short: all 0.25s ease-in-out;

    --rs-width-max-column: 75ch;
    --rs-width-max-header: 140ch;

    --rs-width-max-logo: 280px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --rs-colour-ec-dark-blue: white;
        --rs-colour-page-bg: #1E3232;
        --rs-colour-ec-light-blue: #2c9bfb;
        --rs-colour-logo-stroke: #a6d1ff;
        --rs-colour-logo-fill: #a6d1ff;
        --rs-colour-link: var(--rs-colour-ec-light-blue);
        --rs-colour-link-visited: yellow;
        --rs-colour-nav-link-bg: rgba(0, 51, 102, 0.4);
        --rs-colour-nav-link-active-bg: #003366;
        --rs-colour-nav-link-bg-hover: #003366;
        --rs-colour-footer-bg: #092121;
        --rs-colour-nav-link-hover: #003366;
    }
}

/*
########     ###     ######  ########
##     ##   ## ##   ##    ## ##
##     ##  ##   ##  ##       ##
########  ##     ##  ######  ######
##     ## #########       ## ##
##     ## ##     ## ##    ## ##
########  ##     ##  ######  ########
*/

html,
body {
    margin: 0;
    padding: 0;
    scrollbar-width: auto;
    width: 100%;
    height: 100%;
}

body {
    /* font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif; */
    font-family: var(--rs-font-sans);
    font-weight: 300;
    font-size: var(--font-size-0);
    color: var(--rs-colour-ec-dark-blue);
    background-color: var(--rs-colour-page-bg);
}

*::selection {
    color: var(--rs-colour-yellow);
    background-color: var(--rs-colour-ec-dark-blue);
}

*:focus-visible {
    outline: 2px dashed var(--rs-colour-ec-dark-blue);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: Rubik, var(--rs-font-sans); */
    font-weight: 100;
    text-wrap: balance;
}

h1 {
    font-size: var(--font-size-5);
    text-align: center;
    margin-block-start: var(--space-l);
    margin-block-end: var(--space-xl);

    &>em {
        --rs-skew-size: var(--space-2xs);
        position: relative;
        --rs-h1-gradient-start: 39%;
        --rs-h1-gradient-end: 75%;
        background-image: linear-gradient(to bottom,
                transparent var(--rs-h1-gradient-start),
                var(--rs-highlight-current) var(--rs-h1-gradient-start),
                var(--rs-highlight-current) var(--rs-h1-gradient-end),
                transparent var(--rs-h1-gradient-end),
                transparent 100%);
        padding-right: 0.25rem;
        font-style: normal;
    }
}

h2 {
    color: #2990ea;
}

h2 {
    font-size: var(--font-size-4);
}

h3 {
    font-size: var(--font-size-3);
}

h4 {
    font-size: var(--font-size-2);
}

a {
    color: var(--rs-colour-link);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

a:visited {
    color: var(--rs-colour-link);
    text-decoration: underline dotted;
    text-decoration-color: purple;
}

a[target="_blank"] {
    position: relative;
    margin-inline-end: 15px;

}

a[target="_blank"]::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../images/icons/icon-new-window.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: -15px;
}

p {
    text-wrap: balance;
}

/*
.##.....##.########.####.##.......####.########.####.########..######.
.##.....##....##.....##..##........##.....##.....##..##.......##....##
.##.....##....##.....##..##........##.....##.....##..##.......##......
.##.....##....##.....##..##........##.....##.....##..######....######.
.##.....##....##.....##..##........##.....##.....##..##.............##
.##.....##....##.....##..##........##.....##.....##..##.......##....##
..#######.....##....####.########.####....##....####.########..######.
*/

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

/* Change this to line height? */
svg:not([width]):not([height]) {
    height: 1.5ex;
    width: auto;
}

svg:not([width]):not([height]).rs-logo {
    color: var(--rs-colour-logo);
    height: auto;
    width: 100%;
    max-width: var(--rs-width-max-logo);
}

.rs-relative {
    position: relative;
}

/*
 ######  ##    ## #### ########
##    ## ##   ##   ##  ##     ##
##       ##  ##    ##  ##     ##
 ######  #####     ##  ########
      ## ##  ##    ##  ##
##    ## ##   ##   ##  ##
 ######  ##    ## #### ##
*/

.rs-skip {
    text-align: center;
    background-color: white;
    display: grid;
    position: relative;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
}

.rs-skip:focus-within {
    grid-template-rows: 1fr;
}

.rs-skip>p {
    overflow: hidden;
    margin: 0;
}

.rs-skip>p>a {
    display: inline-block;
    padding-block: 1rem;
}

.rs-skip::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: calc(var(--space-2xs) * -1);
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
}

.rs-skip:focus-within::after {
    opacity: 1;
}

/*
##    ##    ###    ##     ##
###   ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##
##  #### #########  ##   ##
##   ### ##     ##   ## ##
##    ## ##     ##    ###
*/

nav {
    margin-block-start: var(--space-s);
}

nav>ul {
    font-family: var(--rs-font-mono);
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: var(--space-xs);
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 1200px) and (max-width:1700px) {
    nav>ul {
        justify-content: start;
        margin-inline-start: var(--space-xs);
    }
}

nav>ul>li {
    display: block;
    height: fit-content;
}

nav>ul>li>a,
nav>ul>li>a:visited {
    position: relative;
    display: inline-block;
    /* font-weight: bold; */
    font-size: var(--font-size-0);
    text-decoration: none;
    padding: var(--space-3xs) var(--space-s);
    padding-block-end: calc(var(--space-3xs) - 2px);
    color: var(--rs-colour-ec-dark-blue);
    background-color: var(--rs-colour-nav-link-bg);
    transition: var(--rs-transition-short);
    border-block-end-style: solid;
    border-block-end-width: var(--space-3xs);
}

html {
    --rs-highlight-current-values: var(--rs-colour-pink-values);
    --rs-highlight-current: hsl(var(--rs-highlight-current-values) / 0.4);
}

html:has(nav>ul>li.is-active>a[href^="/code/"]) {
    --rs-highlight-current-values: var(--rs-colour-red-values);
    --rs-highlight-current: hsl(var(--rs-highlight-current-values) / 0.3);
}

html:has(nav>ul>li.is-active>a[href^="/article/"]) {
    --rs-highlight-current-values: var(--rs-colour-green-values);
    --rs-highlight-current: hsl(var(--rs-highlight-current-values) / 0.3);
}

html:has(nav>ul>li.is-active>a[href^="/small/"]) {
    --rs-highlight-current-values: var(--rs-colour-yellow-values);
    --rs-highlight-current: hsl(var(--rs-highlight-current-values) / 0.3);
}

html:has(nav>ul.rs-nav-sub>li.is-active>a[href^="/reading-list/"]),
html:has(nav>ul.rs-nav-sub>li.is-active>a[href^="/tags/"]) {
    --rs-highlight-current-values: var(--rs-colour-light-blue-values);
    --rs-highlight-current: hsl(var(--rs-highlight-current-values) / 0.4);
}

/* html,
body {
    scrollbar-color: var(--rs-colour-ec-dark-blue) hsl(var(--rs-highlight-current-values) / 1);
} */

nav>ul>li>a[href="/"] {
    border-block-end-color: var(--rs-colour-pink);
}

nav>ul>li>a[href^="/article/"] {
    border-block-end-color: var(--rs-colour-green);
}

nav>ul>li>a[href^="/small/"] {
    border-block-end-color: var(--rs-colour-yellow);
}

nav>ul>li>a[href^="/code/"] {
    border-block-end-color: var(--rs-colour-red);
}

nav>ul>li>a:hover {
    background-color: var(--rs-colour-nav-link-bg-hover);
}

nav>ul>li.is-active>a {
    background-color: var(--rs-colour-nav-link-active-bg);
}

nav>ul>li.is-active>a::after {
    content: "";
    width: calc(var(--space-3xs) - 1px);
    height: calc(var(--space-3xs) - 1px);
    bottom: calc(var(--space-3xs) - 3px);

    width: var(--space-2xs);
    height: var(--space-2xs);
    bottom: 0;
    border-radius: 50%;
    background-color: hsl(var(--rs-highlight-current-values) / 1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
}

nav>ul>li>p {
    position: absolute;
    bottom: calc((var(--font-size--1) + var(--space-2xs) * 2) * -1);
    left: 0;
    width: 100%;
    text-align: center;
    font-size: var(--font-size--1);
    color: var(--rs-colour-grey);
    opacity: 0;
    transition: var(--rs-transition-short);
}

nav>ul>li>a:hover+p,
nav>ul>li>a:focus+p {
    opacity: 1;
}

nav>ul.rs-nav-sub {
    --threshold: 45rem;
    gap: var(--space-3xs);
    margin: 0 auto var(--space-3xl) auto;
    max-width: var(--rs-width-max-column);
}

nav>ul.rs-nav-sub>li>a {
    width: 100%;
    text-align: center;
    border-block-end-color: var(--rs-colour-light-blue);
    color: var(--rs-colour-light-blue);
    background-color: rgba(255, 255, 255, 0.1);
    line-height: 1;
    display: flex;
    justify-content: center;
}

nav>ul.rs-nav-sub>li>a:hover {
    color: var(--rs-colour-nav-link-hover);
    background-color: rgba(255, 255, 255, 1);
}

nav>ul.rs-nav-sub>li>a>svg {
    display: inline-block;
    width: 1lh !important;
    height: 1lh !important;
    margin-inline-end: 0.35rem;
}

nav>ul.rs-nav-sub>li>a::after {
    display: none;
}

/*
##        #######   ######    #######
##       ##     ## ##    ##  ##     ##
##       ##     ## ##        ##     ##
##       ##     ## ##   #### ##     ##
##       ##     ## ##    ##  ##     ##
##       ##     ## ##    ##  ##     ##
########  #######   ######    #######
*/

.rs-logo {
    margin: var(--space-2xs) auto;
}

@media screen and (min-width: 1200px) {
    .rs-logo {
        margin: 0;
        position: absolute;
        top: var(--space-2xs);
        right: var(--space-xs);
        z-index: 100;
    }
}


.rs-logo,
.rs-logo>svg {
    display: block;
    /* margin: 0 auto var(--space-s) auto; */
    width: 100% !important;
    height: auto !important;
    max-width: 250px !important;
}

.rs-logo>svg {
    fill: var(--rs-colour-logo-stroke);
}

.rs-logo>svg #rs-logo-cloud {
    fill: var(--rs-colour-logo-fill);
    stroke: var(--rs-colour-logo-stroke);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px
}



/*
##          ###    ##    ##  #######  ##     ## ########
##         ## ##    ##  ##  ##     ## ##     ##    ##
##        ##   ##    ####   ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
##       #########    ##    ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
######## ##     ##    ##     #######   #######     ##
*/

.rs-full-height {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
}

/* https: //every-layout.dev/layouts/sidebar/ */

.rs-switcher {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    --threshold: 30rem;
}

.rs-switcher>* {
    flex-grow: 1;
    flex-basis: calc((var(--threshold) - 100%) * 999);
}

header,
main {
    border-inline-end: 3px solid hsl(var(--rs-highlight-current-values) / 1);
}

a[href="#bio"] {
    position: static;
}

a[href="#bio"]>span {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transform: translateY(calc(-100% - 1px));
}

a[href="#bio"]>span>img {
    pointer-events: none;
    width: 100%;
    height: auto;
    max-width: 100px;
    transform: translate(0, 100%);
    transition: var(--rs-transition-short);
}

a[href="#bio"]:hover>span {
    visibility: visible;
}

a[href="#bio"]:hover>span>img {
    transform: translate(0, 15%);
}

@media only screen and (min-width: 1400px) {
    a[href="#bio"]>span {
        transform: translateX(calc(-100% - 5px));
    }

    a[href="#bio"]>span>img {
        max-width: 120px;
        transform: rotate(0) translate(100%, 30%);
    }

    a[href="#bio"]:hover>span>img {
        transform: rotate(-45deg) translate(30%, 10%);
    }
}

.rs-column-header-wide {
    margin: 0 auto;
    max-width: var(--rs-width-max-header);
    padding-inline: var(--space-s);
}

.rs-column {
    margin: 0 auto;
    max-width: var(--rs-width-max-column);
    padding-inline: var(--space-s);
}

.rs-column.rs-rainbow-top {
    padding-block-start: var(--space-m);
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

footer {
    background-color: var(--rs-colour-footer-bg);
    color: white;
    position: relative;
    margin-block-start: var(--space-xl);
    padding-block-end: var(--space-m);
}

footer>div {
    /* max-width: var(--rs-width-max-column);
    margin: 0 auto 0 auto;
    padding: 0 var(--space-s); */
}

footer>svg {
    --rs-cat-height: var(--space-l);
    position: absolute;
    color: var(--rs-colour-ec-dark-blue);
    right: var(--space-s);
    top: calc(0.5px + var(--rs-cat-height) * -1);
    height: var(--rs-cat-height) !important;
    fill: hsl(var(--rs-highlight-current-values) / 1);
}

.rs-tac {
    margin: 0 auto;
    margin-block-start: var(--space-m);
    font-size: var(--font-size--2);
    text-align: center;
}

.rs-tac a:visited {
    color: yellow;
}