---
cssFiles: []
jsFiles: []
---

{% set env = devEnvironment.environment %}

{% if env === 'dev' %}
    {% set buildURL = "" %}
{% else %}
    {% set buildURL = "../../website-source/_shared/" %}
{% endif %}

<!DOCTYPE html>
<html lang="en"  data-is-dev={% if env === 'dev' %}"true"{% else %}"false"{% endif %}>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title | striptags(false) }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">

        {# <link rel="apple-touch-icon" sizes="180x180" href="/_shared/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/_shared/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/_shared/favicons/favicon-16x16.png">
        <link rel="manifest" href="/_shared/favicons/site.webmanifest">
        <link rel="mask-icon" href="/_shared/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/_shared/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/_shared/favicons/browserconfig.xml"> #}
        <meta name="theme-color" content="#ffffff">

        <link rel="icon" type="image/svg+xml" href="/_shared/favicons/favicon.svg">
<link rel="icon" type="image/png" href="/_shared/favicons/favicon.png">

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

        {% set cssHighlight %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endset %}
        {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
        <style>
            {{cssHighlight | cssmin | safe}}

            .token.constant,
            .token.deleted,
            .token.property,
            .token.symbol,
            shared .token.tag {
                color: hotpink !important;
            }
        </style>

        {% if env === 'dev' %}
            <link rel="stylesheet" href="/_shared/css/reset.css">
            <link rel="stylesheet" href="/_shared/css/brand.css">
            <link rel="stylesheet" href="/_shared/css/shared.css">
        {% else %}
            {% set css %}
            {% include "../../website-source/_shared/css/reset.css" %}
            {% include "../../website-source/_shared/css/brand.css" %}
            {% include "../../website-source/_shared/css/shared.css" %}
            {% endset %}
            <style>
                {{css | cssmin | safe}}
            </style>
        {% endif %}

        {% for file in cssFiles %}
            <link rel="stylesheet" href="{{file}}">
        {% endfor %}

        {% if env === 'dev' %}
            <script defer src="/_shared/js/shared.js"></script>
        {% endif %}

        {% for file in jsFilesExternal | reverse %}
            <script defer src="{{file}}"></script>
        {% endfor %}

        {% for file in jsFiles %}
            <script type="module" defer src="{{file}}"></script>
        {% endfor %}

    </head>

    <body>

        <div class="rs-skip">
            <p>
                <a href="#main">Skip to main content</a> or <a href="#footer">the footer</a>.</p>
        </div>

        <div class="rs-full-height">
            
            <header>

                <div class="rs-logo-container">
                    {% include "../../website-source/_shared/images/balloon.svg" %}
                    <a href="/" class="rs-logo">
                        <span class="visually-hidden">Go to the home page.</span>{% include "../../website-source/_shared/images/logo/rising-sky-logo.svg" %}</a>
                        <button class="rs-animation-cloud-control" aria-hidden="true" data-playing>
                            <span class="visually-hidden rs-animation-pause">toggle cloud animation</span>

                            <svg data-pause xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M9 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" stroke-width="0" fill="currentColor" />
                                <path d="M17 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" stroke-width="0" fill="currentColor" />
                            </svg>

                            <svg data-play xmlns="http://www.w3.org/2000/svg" style="display:none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentcolor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" stroke-width="0" fill="currentColor" />
                            </svg>
                        </button>
                    </a>
                </div>


                <nav>
                    <ul>
                        {% set navPages = collections.all | eleventyNavigation %}
                        {% set navActiveClass = "is-active" %}
                        {%- for navItem in navPages %}
                            {# Check that the item url is first in the page url so that e.g. tags/article doesn't make article active #}
                            {% set urlArray = page
                                .url
                                .split("/") %}

                            {% if (navItem.url == "/") %}
                                <li {% if navItem.url == page.url %}class="{{navActiveClass}}"{% endif %}>
                                    <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                                </li>
                            {% elif navItem.url and page.url %}
                                <li{% if navItem.url == "/"+urlArray[1]+"/" %} class="{{navActiveClass}}"{% endif %}>
                                    <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                                </li>
                            {% endif %}

                        {%- endfor %}

                    </ul>
                </nav>

            </header>

            
            <main id="main">
                {{ content | safe }}
            {# Dammit, say hello will have to go here?? #}
            </main>
                        
            {% include "../_components/footer.njk" %}

            
        </div>

        {% if env != 'dev' %}
            {% set js %}
            {% include "../../website-source/_shared/js/shared.js" %}
            {% endset %}
            <script>
                {{js | jsmin | safe}}
            </script>
        {% endif %}

        <svg style="display:none;" data-id="rs-template-cloud" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 153.5 93.5">
            <path style="fill: #b4e8fe;" d="M52.98,23.9c-3.17-2.45-7.16-3.89-11.49-3.89-10.19,0-18.49,8.05-18.74,18.09-10.52,3.91-18,13.96-18,25.75,0,13.92,10.44,25.43,24,27.24v.25h96v-.05c13.39-.77,24-11.77,24-25.22s-9.88-23.67-22.58-25.1c.06-.79.08-1.59.08-2.39,0-20.1-17.12-36.4-38.25-36.4-15.63,0-29.08,8.93-35.02,21.73"/>
        </svg>

    </body>

</html>