---
cssFiles: []
jsFiles: []
---

{% set env = devEnvironment.environment %}

{% if env === 'dev' %}
    {% set buildURL = "" %}
{% else %}
    {% set buildURL = "../../website-source/_shared/" %}
{% endif %}

<!DOCTYPE html>
<html lang="en"  data-is-dev={% if env === 'dev' %}"true"{% else %}"false"{% endif %}>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title | striptags(false) }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <meta name="generator" content="{{ eleventy.generator }}">

        <link rel="apple-touch-icon" sizes="180x180" href="/_shared/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/_shared/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/_shared/favicons/favicon-16x16.png">
        <link rel="manifest" href="/_shared/favicons/site.webmanifest">
        <link rel="mask-icon" href="/_shared/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/_shared/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/_shared/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        {#- Atom and JSON feeds included by default #}
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

        {% set cssHighlight %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endset %}
        {#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
        <style>
            {{cssHighlight | cssmin | safe}}

            .token.constant,
            .token.deleted,
            .token.property,
            .token.symbol,
            shared .token.tag {
                color: hotpink !important;
            }
        </style>

        {% if env === 'dev' %}
            <link rel="stylesheet" href="/_shared/css/reset.css">
            <link rel="stylesheet" href="/_shared/css/brand.css">
            <link rel="stylesheet" href="/_shared/css/shared.css">
        {% else %}
            {% set css %}
            {% include "../../website-source/_shared/css/reset.css" %}
            {% include "../../website-source/_shared/css/brand.css" %}
            {% include "../../website-source/_shared/css/shared.css" %}
            {% endset %}
            <style>
                {{css | cssmin | safe}}
            </style>
        {% endif %}

        {% for file in cssFiles %}
            <link rel="stylesheet" href="{{file}}">
        {% endfor %}

        {% if env === 'dev' %}
            <script defer src="/_shared/js/shared.js"></script>
        {% endif %}

        {% for file in jsFilesExternal | reverse %}
            <script defer src="{{file}}"></script>
        {% endfor %}

        {% for file in jsFiles %}
            <script type="module" defer src="{{file}}"></script>
        {% endfor %}

    </head>

    <body>

        <div class="rs-skip">
            <p>
                <a href="#main">Skip to main content</a> or <a href="#footer">the footer</a>.</p>
        </div>
        <div class="rs-full-height">
            <header>
                <a href="/" class="rs-logo">
                    <span class="visually-hidden">Go to the home page.</span>{% include "../../website-source/_shared/images/logo/rising-sky-logo.svg" %}</a>
                <nav>
                    {# role=list not needed as in nav tag: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns #}
                    <ul>
                        {% set navPages = collections.all | eleventyNavigation %}
                        {% set navActiveClass = "is-active" %}
                        {%- for navItem in navPages %}
                            {# Check that the item url is first in the page url so that e.g. tags/article doesn't make article active #}
                            {% set urlArray = page
                                .url
                                .split("/") %}

                            {% if (navItem.url == "/") %}
                                <li {% if navItem.url == page.url %}class="{{navActiveClass}}"{% endif %}>
                                    <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                                    <p>Rising Sky builds websites</p>
                                </li>
                            {% elif navItem.url and page.url %}
                                <li{% if navItem.url == "/"+urlArray[1]+"/" %} class="{{navActiveClass}}"{% endif %}>
                                    <a href="{{ navItem.url }}">{{ navItem.title }}</a>
                                    {% if (navItem.title == "<article>") %}
                                        <p>Blog posts{{urlArray[1]}}</p>
                                    {% elif(navItem.title == "<small>") %}
                                        <p>Short notes &amp; handy snippets</p>
                                    {% elif(navItem.title == "<code>") %}
                                        <p>Work examples</p>
                                    {% endif %}
                                </li>
                            {% endif %}

                        {%- endfor %}

                    </ul>
                </nav>

                {# <div>
                    <p>Mastadon</p>
                    <p>Dark mode (cloud with sun or moon)
                    </p>
                    <p>Email?</p>
                    <p>RSS</p>
                </div> #}
            </header>

            <main id="main">

                {{ content | safe }}

            </main>

            <footer id="footer">

                {% include "../../website-source/_shared/images/footer/footer-cat.svg" %}

                <div class="rs-column-wide">
                    <p>CONTACT DETAILS</p>
                    <nav>
                        <ul class="rs-switcher rs-nav-sub">
                            {% for item in navigationFooter %}
                                <li{% if item.url in page.url %} class="{{navActiveClass}}"{% endif %}>
                                    <a href="{{ item.url }}">
                                        {% if item.logo == "rss" %}
                                            {% include "../../website-source/_shared/images/icons/icon-rss.svg" %}
                                        {% elif item.logo == "tag" %}
                                            {% include "../../website-source/_shared/images/icons/icon-tag.svg" %}
                                        {% elif item.logo == "reading" %}
                                            {% include "../../website-source/_shared/images/icons/icon-book.svg" %}
                                        {% endif %}
                                        {{ item.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>

                    <p class="rs-tac">Company number: SC683321 &nbsp;&nbsp;&hearts;&nbsp;&nbsp; Built with <a href="https://11ty.dev/" target="_blank">Eleventy v3.0.0</a> &nbsp;&nbsp;&hearts;&nbsp;&nbsp; <a href="/licence/">MIT licence</a> &nbsp;&nbsp;&hearts;&nbsp;&nbsp; <a href="/todo/">Site to do</a> &nbsp;&nbsp;&hearts;&nbsp;&nbsp; <a href="/uses/">Uses</a> &nbsp;&nbsp;&hearts;&nbsp;&nbsp; &copy; Rising Sky Ltd. 2024</p>

                </div>

            </footer>
        </div>

        {% if env != 'dev' %}
            {% set js %}
            {% include "../../website-source/_shared/js/shared.js" %}
            {% endset %}
            <script>
                {{js | jsmin | safe}}
            </script>
        {% endif %}

    </body>

</html>