---
layout: base
---

<h1>{{title}}</h1>

{% if updated %}
<p class="rs-updated">Updated: {{updated  | readableDate("dd LLLL yyyy") }}.</p>
{% endif %}

<ul>
    {% for tag in tags %}
        <li>
            <a href="/tags/{{ tag | slugify }}">{{tag}}</a>
        </li>
    {% endfor %}
</ul>

{{ content | safe }}