---
layout: base
---
<div class="rs-column-wide rs-header-has-metadata">
    <h1>{{title | safe}}</h1>
    <div class="rs-column flow rs-header-metadata">

        {% if published %}
            <p class="rs-published">Published: <time datetime="{{published | htmlDateString}}">{{published  | readableDate("dd LLLL yyyy") }}</time>
            </p>
        {% endif %}

        {% if updated %}
            <p class="rs-published">Updated: <time datetime="{{updated | htmlDateString}}">{{updated  | readableDate("dd LLLL yyyy") }}</time>
            </p>
        {% endif %}

        <div class="rs-tags-container">
            <p class="rs-tags-label">Tags:</p>
            <ul role="list">
                {% for tag in tags %}
                    {% if tag != "code" %}
                        <li>
                            <a href="/tags/{{ tag | slugify }}">{{tag}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

{{ content | safe }}