/*
##     ##    ###    ########   ######
##     ##   ## ##   ##     ## ##    ##
##     ##  ##   ##  ##     ## ##
##     ## ##     ## ########   ######
 ##   ##  ######### ##   ##         ##
  ## ##   ##     ## ##    ##  ##    ##
   ###    ##     ## ##     ##  ######
*/

:root {

    /* FONT SCALE */
    /* --font-size--2: clamp(0.7813rem, 0.6356rem + 0.7283vw, 1.2rem);
    --font-size--1: clamp(0.9375rem, 0.7418rem + 0.9783vw, 1.5rem);
    --font-size-0: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --font-size-1: clamp(1.35rem, 1.0043rem + 1.7283vw, 2.3438rem);
    --font-size-2: clamp(1.62rem, 1.1643rem + 2.2783vw, 2.93rem);
    --font-size-3: clamp(1.9438rem, 1.3461rem + 2.988vw, 3.6619rem);
    --font-size-4: clamp(2.3325rem, 1.5516rem + 3.9043vw, 4.5775rem);
    --font-size-5: clamp(2.7994rem, 1.7829rem + 5.0826vw, 7.7219rem);

    --font-size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --font-size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --font-size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --font-size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --font-size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --font-size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --font-size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --font-size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem); */

    --font-size--2: clamp(0.7813rem, 0.7302rem + 0.2554vw, 0.96rem);
    --font-size--1: clamp(0.9375rem, 0.8625rem + 0.375vw, 1.2rem);
    --font-size-0: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
    --font-size-1: clamp(1.35rem, 1.2rem + 0.75vw, 1.875rem);
    --font-size-2: clamp(1.62rem, 1.4132rem + 1.0339vw, 2.3438rem);
    --font-size-3: clamp(1.944rem, 1.6624rem + 1.4081vw, 2.9297rem);
    --font-size-4: clamp(2.3328rem, 1.953rem + 1.899vw, 3.6621rem);
    --font-size-5: clamp(2.7994rem, 2.2913rem + 2.5404vw, 4.5776rem);

    /* SPACE SCALE */
    --space-3xs: clamp(0.3125rem, 0.2473rem + 0.3261vw, 0.5rem);
    --space-2xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs: clamp(0.875rem, 0.6793rem + 0.9783vw, 1.4375rem);
    --space-s: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m: clamp(1.6875rem, 1.2962rem + 1.9565vw, 2.8125rem);
    --space-l: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl: clamp(3.375rem, 2.5924rem + 3.913vw, 5.625rem);
    --space-2xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
    --space-3xl: clamp(6.75rem, 5.1848rem + 7.8261vw, 11.25rem);

    --rs-font-sans: Roboto,
        'Helvetica Neue',
        'Arial Nova',
        'Nimbus Sans',
        Arial,
        sans-serif;
    --rs-font-mono: ui-monospace,
        'Cascadia Code',
        'Source Code Pro',
        Menlo,
        Consolas,
        'DejaVu Sans Mono',
        monospace;

    --rs-colour-sky-top: #b3e8fe;
    --rs-colour-sky-bottom: #edfaff;
    --rs-colour-highlight: yellow;
    --rs-colour-instruction: hotpink;
    --rs-colour-bg: #28272C;
    --rs-colour-bg-shade: #16151A;
    --rs-colour-link: white;
    --rs-colour-link-visited: #ddd;

    --rs-layout-left-shift: 3vw;
    --rs-layout-left-shift-scale: clamp(0.5625rem, -2.2056rem + 13.8406vw, 18.5rem);
    --rs-layout-right-pad: 4rem;
    /* 980px */
    --rs-layout-main-max-width: 92ch;


    --rs-colour-ec-light-blue: #2172ba;
    --rs-colour-ec-dark-blue: #003366;
    --rs-colour-ec-dark-blue-value: 0, 51, 102;

    --rs-colour-page-bg: white;
    --rs-colour-logo-stroke: var(--rs-colour-ec-dark-blue);
    --rs-colour-logo-fill: #a6d1ff;

    --rs-colour-nav-link-bg: rgba(255, 255, 255, 0.4);
    --rs-colour-nav-link-active-bg: white;
    --rs-colour-nav-link-hover: var(--rs-colour-ec-dark-blue);
    --rs-colour-nav-link-bg-hover: white;


    --rs-colour-footer-bg: var(--rs-colour-ec-dark-blue);

    --rs-colour-pink-values: 330 100% 71%;
    --rs-colour-red-values: 0 100% 69%;
    --rs-colour-green-values: 145 100% 41%;
    --rs-colour-yellow-values: 51 100% 50%;
    --rs-colour-light-blue-values: 180 100% 46%;
    --rs-colour-mid-grey: #999999;
    --rs-colour-dark-grey: #666666;
    --rs-colour-light-grey: whitesmoke;

    --rs-colour-pink: hsl(var(--rs-colour-pink-values));
    --rs-colour-red: hsl(var(--rs-colour-red-values));
    --rs-colour-yellow: hsl(var(--rs-colour-yellow-values));
    --rs-colour-green: hsl(var(--rs-colour-green-values));
    --rs-colour-light-blue: hsl(var(--rs-colour-light-blue-values));

    --rs-highlight-current-values: var(--rs-colour-pink-values);
    --rs-highlight-current: hsl(var(--rs-colour-pink-values) / 0.4);

    --rs-transition-short: all 0.25s ease-in-out;

    --rs-width-max-column: 75ch;
    --rs-width-max-header: 140ch;
    --rs-width-max-logo: 280px;

    --rs-outline: 2px solid var(--rs-colour-pink);
    --rs-outline-reverse: 2px dashed var(--rs-colour-yellow)
}

@media (prefers-color-scheme: dark) {
    :root {
        /* --rs-colour-ec-dark-blue: white; */
    }
}

/*
########     ###     ######  ########
##     ##   ## ##   ##    ## ##
##     ##  ##   ##  ##       ##
########  ##     ##  ######  ######
##     ## #########       ## ##
##     ## ##     ## ##    ## ##
########  ##     ##  ######  ########
*/

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: var(--rs-font-sans);
    font-weight: 300;
    font-size: var(--font-size-0);
    color: white;
    background-color: var(--rs-colour-bg);
}

*::selection {
    color: var(--rs-colour-bg-shade);
    background-color: var(--rs-colour-highlight);
}

*:focus-visible {
    outline: var(--rs-outline);
    outline-offset: 2px;
}

/* footer *::selection {
    background-color: var(--rs-colour-yellow);
    color: var(--rs-colour-ec-dark-blue);
}

footer *:focus-visible {
    outline: var(--rs-outline-reverse);
} */
p {
    max-width: 75ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    text-wrap: balance;
}

h1 {
    font-size: var(--font-size-5);
    padding-block-start: var(--space-xs);
    margin-block-start: var(--space-3xs);
    /* margin-block-end: var(--space-l); */
}

h2 {
    font-size: var(--font-size-3);
    margin-block-start: 0;
    padding-block-start: var(--space-l);
    padding-block-end: var(--space-s);
    margin-block-end: var(--space-m);
    border-block-end: 1px dotted white;
}

h3 {
    font-size: var(--font-size-1);
    font-weight: 400;
}


h4 {
    font-size: var(--font-size-1);
    text-transform: capitalize;
}

a {
    color: var(--rs-colour-link);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

a:visited {
    color: var(--rs-colour-link);
    text-decoration: underline dotted;
    text-decoration-color: var(--rs-colour-link-visited);
}

a[target="_blank"] {
    position: relative;
}

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    background-image: url(/_shared/images/icons/icon-new-window.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: 3px;
    margin-inline-end: 5px;
}

a[href^="#"] {
    position: relative;
}

a[href^="#"]::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    background-image: url(/_shared/images/icons/icon-arrow-down.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: 3px;
    margin-inline-end: 5px;
}

.rs-button-unset {
    all: unset;
}

.rs-button-unset:focus-visible {
    outline: var(--rs-outline);
}

/*
.##.....##.########.####.##.......####.########.####.########..######.
.##.....##....##.....##..##........##.....##.....##..##.......##....##
.##.....##....##.....##..##........##.....##.....##..##.......##......
.##.....##....##.....##..##........##.....##.....##..######....######.
.##.....##....##.....##..##........##.....##.....##..##.............##
.##.....##....##.....##..##........##.....##.....##..##.......##....##
..#######.....##....####.########.####....##....####.########..######.
*/

.rs-colour-lowlight {
    background-color: var(--rs-colour-bg-shade);
}

.rs-colour-text-highlight-shade {
    background-color: var(--rs-colour-highlight);
    color: var(--rs-colour-bg-shade);
}

.rs-colour-instruction {
    color: var(--rs-colour-instruction);
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

/* Change this to line height? */
svg:not([width]):not([height]) {
    height: 1.5ex;
    width: auto;
}

/* svg:not([width]):not([height]).rs-logo {
    color: var(--rs-colour-logo);
    height: auto;
    width: 100%;
    max-width: var(--rs-width-max-logo);
} */

.rs-relative {
    position: relative;
}

@media not (scripting: enabled) {
    .rs-needs-js {
        display: none;
    }
}

.rs-button-unset {
    all: unset;
}

.rs-button-unset:focus-visible {
    outline: var(--rs-outline);
}

@media screen and (min-width: 1200px) and (max-width:1700px) {}

.rs-mbs-0 {
    margin-block-start: 0;
}

/*
 ######  ##    ## #### ########
##    ## ##   ##   ##  ##     ##
##       ##  ##    ##  ##     ##
 ######  #####     ##  ########
      ## ##  ##    ##  ##
##    ## ##   ##   ##  ##
 ######  ##    ## #### ##
*/

.rs-skip {
    text-align: center;
    background-color: white;
    color: var(--rs-colour-bg-shade);
    display: grid;
    position: relative;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.25s ease-in-out;
}

.rs-skip:focus-within {
    grid-template-rows: 1fr;
}

.rs-skip>p {
    overflow: hidden;
    margin: 0;
}

.rs-skip>p>a {
    color: var(--rs-colour-bg-shade);
    display: inline-block;
    padding-block: 1rem;
}

.rs-skip::after {
    content: "";
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
    border-color: white transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom: calc(var(--space-2xs) * -1);
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 0;
}

.rs-skip:focus-within::after {
    opacity: 1;
}


/*
##        #######   ######    #######
##       ##     ## ##    ##  ##     ##
##       ##     ## ##        ##     ##
##       ##     ## ##   #### ##     ##
##       ##     ## ##    ##  ##     ##
##       ##     ## ##    ##  ##     ##
########  #######   ######    #######
*/

.rs-logo-container {
    position: relative;
    /* height: clamp(16.75rem, 13.5655vw + 13.6978rem, 27.56rem); */
    height: 40vh;
    background: rgb(237, 250, 255);
    background-image: radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 40%), linear-gradient(0deg, var(--rs-colour-sky-bottom) 0%, var(--rs-colour-sky-top) 100%);
    background-repeat: no-repeat, no-repeat;
    border-block-end: 16px solid var(--rs-colour-bg-shade);
    overflow: hidden;
}

.rs-logo {
    position: absolute;
    left: var(--rs-layout-left-shift);
    bottom: min(2.5vw, 70px);
    display: block;
    width: clamp(9.375rem, 7.4627vw + 7.6959rem, 15.625rem) !important;
    height: auto !important;
    max-width: 250px !important;
}

@media screen and (min-width: 980px) {
    .rs-logo {
        left: var(--rs-layout-left-shift-scale);
    }
}

.rs-logo>svg {
    width: 100% !important;
    height: auto !important;
    fill: var(--rs-colour-logo-stroke);
}

.rs-logo>svg #rs-logo-cloud {
    fill: var(--rs-colour-logo-fill);
    stroke: var(--rs-colour-logo-stroke);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 7px
}

@keyframes floatAway {
    100% {
        transform: translateY(800px);
    }
}

.rs-cloud-float {
    pointer-events: none;
    display: block !important;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    animation: floatAway 35s linear forwards;
}

button.rs-animation-cloud-control {
    position: absolute;
    top: var(--space-3xs);
    right: var(--space-3xs);
    border-radius: 9999px;
    width: 42px;
    height: 42px;
    /* align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #0496d1;
    border-color: #0496d1;
    border-width: 0;
    border-style: solid;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button.rs-animation-cloud-control:hover {
    background-color: white;
}

@media (prefers-reduced-motion) {
    button.rs-animation-cloud-control {
        display: none;
    }
}


/*
##    ##    ###    ##     ##
###   ##   ## ##   ##     ##
####  ##  ##   ##  ##     ##
## ## ## ##     ## ##     ##
##  #### #########  ##   ##
##   ### ##     ##   ## ##
##    ## ##     ##    ###
*/
nav {
    display: flex;
    justify-content: end;
    max-width: var(--rs-layout-main-max-width);
}


nav>ul {
    list-style: none;
    display: flex;
    gap: var(--space-xs);
    padding: 0;
    margin: 0;
    margin-block-start: var(--space-xs);
    padding-inline-start: var(--rs-layout-left-shift);
    padding-inline-end: 1rem;
}

/* @media screen and (min-width: 980px) {
    nav>ul {
        padding-inline-start: var(--rs-layout-left-shift-scale);
    }
}*/

@media screen and (min-width: 1450px) {
    nav>ul {
        padding-inline: 0;
        transform: translateX(100%);
    }
}

nav>ul>li>a,
nav>ul>li>a:visited {
    text-decoration: none;
    color: var(--rs-colour-highlight);
    font-size: var(--font-size-1);
    font-weight: 400;
}

nav>ul>li.is-active>a {}

/*
##          ###    ##    ##  #######  ##     ## ########
##         ## ##    ##  ##  ##     ## ##     ##    ##
##        ##   ##    ####   ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
##       #########    ##    ##     ## ##     ##    ##
##       ##     ##    ##    ##     ## ##     ##    ##
######## ##     ##    ##     #######   #######     ##
*/

.rs-full-height {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.rs-column-main {
    margin: 0;
    width: 100%;
    padding-inline: var(--rs-layout-left-shift);
    padding-block-end: var(--space-xl);
    max-width: var(--rs-layout-main-max-width);
    container-type: inline-size;
}

@media screen and (min-width: 980px) {
    .rs-column-main {
        padding-inline-start: var(--rs-layout-left-shift-scale);
        padding-inline-end: var(--rs-layout-right-pad);
    }
}

@media screen and (min-width: 1180px) {
    .rs-column-main {
        border-inline-end: 1px dotted white;
    }
}

.rs-column-main-breakout {
    display: block;
    max-width: none;
    height: fit-content;
    width: calc(100% + var(--rs-layout-left-shift) + var(--rs-layout-right-pad));
}

@media screen and (min-width: 1180px) {
    .rs-column-main-breakout {
        margin-inline-start: calc(var(--rs-layout-right-pad) * -1);
        width: calc(100% + (var(--rs-layout-right-pad)*2));
    }
}

.rs-sidebar {
    padding-inline: var(--rs-layout-left-shift);
    padding-block-end: var(--space-xl);
    max-width: var(--rs-layout-main-max-width);
}


@media screen and (min-width: 980px) {
    .rs-sidebar {
        padding-inline-start: var(--rs-layout-left-shift-scale);
        padding-inline-end: var(--rs-layout-right-pad);
    }
}

@media screen and (min-width: 1180px) {
    .rs-sidebar {
        border-inline-end: 1px dotted white;
    }
}

@media screen and (min-width: 1700px) {
    .rs-sidebar-container {
        display: grid;
        grid-template-columns: var(--rs-layout-main-max-width) auto;
        gap: var(--space-l);
    }

    .rs-sidebar {
        padding-inline-start: 0;
        padding-inline-end: var(--space-s);
        border-inline-end: 0;
        max-width: 30rem;
    }

    /* .rs-sidebar-container>div:first-child {} */
}



/*
########  ########   #######        ## ########  ######  ########  ######
##     ## ##     ## ##     ##       ## ##       ##    ##    ##    ##    ##
##     ## ##     ## ##     ##       ## ##       ##          ##    ##
########  ########  ##     ##       ## ######   ##          ##     ######
##        ##   ##   ##     ## ##    ## ##       ##          ##          ##
##        ##    ##  ##     ## ##    ## ##       ##    ##    ##    ##    ##
##        ##     ##  #######   ######  ########  ######     ##     ######
*/

h3.rs-colour-text-highlight-shade {
    width: fit-content;
    padding-inline: var(--space-3xs);
    padding-block: 0.25rem;
    margin-block-start: var(--space-xl);
    margin-block-end: var(--space-s);
}

.rs-project-example-hero {
    object-fit: cover;
    object-position: left top;
    height: 30vh;
    /* margin-block-end: var(--space-m); */
}

.rs-image-effect {
    margin-block-end: var(--space-m);
}

.rs-image-effect img {
    border: 1px solid var(--rs-colour-highlight);
}

@media screen and (min-width: 1180px) {
    .rs-image-effect img {
        border-inline-end: 0;
    }
}

.rs-image-hero {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

button.rs-image-hero {
    cursor: pointer;
    /* width: 100%;
    height: fit-content;
    aspect-ratio: 1279 / 379 !important; */
}

lite-vimeo {
    aspect-ratio: 1279 / 379 !important;
    max-width: 1279px;
}

/*code[class*="language-"],
pre[class*="language-"] {
    font-size: var(--font-size--1);
}

*/

/*
 ######     ###    ##    ##    ##     ## ######## ##       ##        #######
##    ##   ## ##    ##  ##     ##     ## ##       ##       ##       ##     ##
##        ##   ##    ####      ##     ## ##       ##       ##       ##     ##
 ######  ##     ##    ##       ######### ######   ##       ##       ##     ##
      ## #########    ##       ##     ## ##       ##       ##       ##     ##
##    ## ##     ##    ##       ##     ## ##       ##       ##       ##     ##
 ######  ##     ##    ##       ##     ## ######## ######## ########  #######
*/

.rs-link-button {
    background-color: var(--rs-colour-highlight);
    color: var(--rs-colour-bg-shade) !important;
    border-block-end: 5px solid var(--rs-colour-bg-shade);
    padding: var(--space-3xs) var(--space-s);
    text-decoration: none;
    font-size: var(--font-size-2);
}

.rs-link-button:hover {
    text-decoration: underline;
}

.rs-say-hello-container {
    border: var(--rs-layout-right-pad) solid var(--rs-colour-highlight);
    padding: var(--space-s);
}

/*
 ######   #######  ##    ## ########    ###     ######  ########
##    ## ##     ## ###   ##    ##      ## ##   ##    ##    ##
##       ##     ## ####  ##    ##     ##   ##  ##          ##
##       ##     ## ## ## ##    ##    ##     ## ##          ##
##       ##     ## ##  ####    ##    ######### ##          ##
##    ## ##     ## ##   ###    ##    ##     ## ##    ##    ##
 ######   #######  ##    ##    ##    ##     ##  ######     ##
*/

.rs-form-contact {
    margin-block-start: var(--space-l);
}

.rs-form-contact>div {
    display: flex;
    flex-direction: column;
}

.rs-form-contact>div:nth-child(2),
.rs-form-contact>div:nth-child(3),
.rs-form-contact button {
    margin-block-start: var(--space-s);
}

.rs-form-contact label {
    font-size: var(--font-size-1);
    font-weight: bold;
    margin-block-end: var(--space-3xs);
}

.rs-form-contact input,
.rs-form-contact textarea {
    padding: var(--space-2xs);
}

.rs-form-contact button {
    display: block;
    cursor: pointer;
    width: 100%;
    background-color: var(--rs-colour-highlight);
    color: var(--rs-colour-bg-shade);
    font-size: var(--font-size-2);
    /* font-weight: bold; */
    border: 0;
    border-block-end: 5px solid var(--rs-colour-bg-shade);
    transition: all 0.2s ease-in-out;
}

.rs-form-contact button:hover {
    background-color: var(--rs-colour-bg-shade);
    color: var(--rs-colour-highlight);
    border-block-end: 5px solid var(--rs-colour-highlight);
}

.rs-column-contact {
    padding-block-end: var(--space-m);
}

/*
########  #######   #######  ######## ######## ########
##       ##     ## ##     ##    ##    ##       ##     ##
##       ##     ## ##     ##    ##    ##       ##     ##
######   ##     ## ##     ##    ##    ######   ########
##       ##     ## ##     ##    ##    ##       ##   ##
##       ##     ## ##     ##    ##    ##       ##    ##
##        #######   #######     ##    ######## ##     ##
*/

footer {
    border-block-end: 16px solid var(--rs-colour-bg-shade);
}

footer>div:first-child {
    padding-block: var(--rs-layout-right-pad);
}

@media screen and (min-width: 1700px) {
    footer>div:first-child {
        background-color: var(--rs-colour-bg);
    }
}

footer ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
    padding-block-start: var(--space-l);
}

footer ul li::before {
    content: "+";
    margin-right: 0.75rem;
}

/* footer {
    padding-inline: var(--rs-layout-left-shift);
    padding-block-end: var(--space-xl);
    max-width: var(--rs-layout-main-max-width);
}



@media screen and (min-width: 1700px) {
    footer {
        position: absolute;
        bottom: 0;
        left: 79rem;
        max-width: 30rem;
    }
} */