---
  title: Rising Sky website version 2
  date: Last Modified
  css: [css/styles.css]
  js: [js/main.js]
---

<p>Updated: {{ date }}.</p>

<p>Hi</p>

<img src="./images/patrick-grey-mountain.jpg" alt="Me up a mountain">