---
title: Contact
layout: base
eleventyNavigation:
  key: contact
  order: 2
---

<h1>Say hello!</h1>

<p>I'm always delighted to hear from new people with projects of any size. </p>

<p>If you think I can help, send me an email to <code>patrick@risingsky.co.uk</code> or use the form below to send me a message. It's helpful to describe what the project is about and any other aspects like deadlines and budget.</p>

<form action="#" method="POST">
  <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required>
  </div>

  <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
  </div>

  <div>
      <label for="message">About your project</label>
      <textarea id="message" name="message" required="" rows="10"></textarea>
  </div>
</form>