---
title: "<em>Aviation learning</em> this week"
description: Dashboard panel with dynamic learning statistics featuring a 3D spinning globe.
published: 2023-11-20
updated: 2023-11-22
tech: ['webGL', 'HTML', 'CSS', 'JavaScript']
hero: 'images/hero.jpg'
alt: 'A graphic panel on a webpage showing current learning data for the Aviation Learning Centre with a 3D spinning globe showing the number of participants from each country by flag.'
tags: ['UI', 'WebGL', 'Data', 'IMC LMS']
artDirection: 'center right'
jsFiles: ['/_shared/js/lite-vimeo-embed.js', './js/main.js']
cssFiles: ['/_shared/css/prism-okaidia.css', './css/styles.css']
---
<article>
    <div class="rs-hero-container">
        <div class="rs-column-wide">
            {# <lite-vimeo videoid="988437576"> #}
            {# <button style="max-width:1279px" class="rs-img-hero rs-button-unset"> #}
            <img style="max-width:1279px" class="rs-img-hero" data-id="rsHeroImage" src="./images/hero.jpg" alt="{{alt}}">
            {# </button> #}
            {# </lite-vimeo> #}
        </div>

        <div class="rs-column flow">
            <p class="rs-instruction rs-needs-js">{% include "../../_shared/images/icons/icon-select.svg" %} Select the image above to load and play a short video of the panel in action.</p>
        </div>
    </div>

    <div class="rs-column flow">

        <p class="rs-m-b-s-l">This  dashboard panel received a lot of positive feedback for being both eye&#8209;catching and useful. You can view it on the home page of the <a href="https://learningzone.eurocontrol.int/" target="_blank">EUROCONTROL Aviation Learning Centre (ALC) Learning Zone</a>. </p>

        <p class="rs-nav-skip-to-code">
            <a href="#codeHighlights">{% include "../../_shared/images/icons/icon-code.svg" %} Skip to code highlights  {% include "../../_shared/images/icons/icon-code.svg" %}</a>
        </p>

        <h2>Requirements</h2>

        <p>The ALC is a multi-channel learning centre supporting European aviation. They wanted to <strong>promote how successful</strong> they had been in attracting learners. They came up with the idea of showing some KPI statistics on the <a href="https://learningzone.eurocontrol.int/" target="_blank">Learning Zone</a> home page.</p>

        <p>The panel needed to be attractive and show multiple statistics, while not taking up too much space.</p>

        <h2>Restrictions</h2>

        <p>The Learning Zone home page is built on the <a href="https://www.im-c.com/learning-suite/" target="_blank">IMC Learning Management System</a>. It is made up of 'panels' that are 'injected' into the home page on the server but cannot include data from the back-end. All the CSS and JavaScript in these panels can have an effect on the rest of the page if we are not careful ({% include "../../_shared/images/icons/icon-warning-filled.svg" %} Danger! Danger! {% include "../../_shared/images/icons/icon-warning-filled.svg" %})</p>

        <h2>Solution</h2>

        <h3>Design</h3>

        <h3>Development</h3>

        <p>Design</p>
        <p>Development</p>

        <p>To highlight the worldwide appeal of the platform, we decided to plot the number of visitors from each country on a rotating globe.
        </p>

        <p>Note the use of public/private panel popup</p>

        <p>We created a panel template using <a href="https://www.11ty.dev/" target="_blank">11ty</a>. During development we can see the results as a stand alone page. For production, only the HTML needed for the panel is output along with bundled and namespaced CSS and JavaScript.</p>

        <p>The panel uses semantic HTML and <strong>vanilla</strong> CSS and JavaScript - the default choice at Rising Sky.</p>

        <p>As we couldn't get the data from the back-end on load, the statistics are <strong>fetched from an API</strong>.</p>

        <p>The page is <strong>responsive</strong> along two axes: screen size and logged in status.</p>

        <p>For logged out users, the row showing user specific data is removed. For users on smaller screens, the globe is also removed, otherwise the panel would take up too much room, forcing learners to scroll more before getting to the content they need.</p>

        <p>
            <strong>IMGS logged in, logged out, mobile.</strong>
        </p>

        <p>We also ported this to the in-house TV screen software.</p>

        <h2 id="codeHighlights">Code Highlights</h2>

        <p> We used the open source WebGL generated globe, <a href="https://github.com/vasturiano/globe.gl" target="_blank">https://github.com/vasturiano/globe.gl</a>. This is relatively simple to use but the challenge was to add flags and plot the data.
        </p>

        <p>If you are interested in code related details, read on!</p>

        {% highlight "js" %}
function myFunction() {
    return true;
    const line = "this is s ave as iasdmos mosdjdjcdso "
}
{% endhighlight %}
    </div>

    <div class="rs-column flow">
        <p>Make it look good with clear sections. Borrow from those interactive pages I liked.</p>

    </div>
</article>